<template>
  <q-dialog v-model="showed">
    <q-card style="width: 700px; max-width: 80vw;" v-if="showed">
      <q-card-section>
        <div class="row items-center q-col-gutter-sm">
          <div class="col-12 text-h6">
            <q-icon name="mdi-history"/>
            <span>
              Events
            </span>
          </div>
          <div class="col-12">
            <q-separator/>
          </div>
          <div class="col-12" style="max-height: 500px; overflow-y: auto">
            <event-list
                        :object_id="object_id"
                        :object_type="object_type"
                        :action="action"/>
          </div>
          <div class="col-12">
            <div class="row items-center">
              <q-space/>
              <q-btn flat @click="close">
                <span>Close</span>
              </q-btn>
            </div>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import EventList from '../list'
import {ref} from 'vue'

export default {
  components: {
    EventList
  },
  setup() {
    const showed = ref(false)
    const object_id = ref(null)
    const object_type = ref(null)
    const action = ref(null)

    const open = ({object_id: id, object_type: type, action: act}) => {
      object_id.value = id
      object_type.value = type
      action.value = act
      showed.value = true
    }

    const close = () => {
      showed.value = false
    }

    return {
      showed,
      object_id,
      object_type,
      action,
      open,
      close
    }
  }
}
</script>
