<template>
  <q-dialog
      v-model="showed"
  >
    <q-card style="width: 700px; max-width: 80vw;">
      <q-card-section>
        <div class="row items-center q-col-gutter-sm">
          <div class="col-12">
            <span class="text-subtitle1 text-weight-bold">
              Update Prices
            </span>
          </div>
          <template v-if="processes.getting_price.in_progress">
            <div class="col-12 text-center">
              <q-spinner size="sm"/>
            </div>
          </template>
          <template v-else>
            <div class="col-12">
              <div class="row items-center q-col-gutter-sm">
                <div class="col-12 col-md-6">
                  <q-input v-model="price.base_amount"
                           type="number"
                           outlined dense
                           :readonly="readonly"
                           label="Cost"/>
                </div>
                <div class="col-12 col-md-6">
                  <q-input v-model="price.markup_amount"
                           type="number"
                           outlined dense
                           :readonly="readonly"
                           label="Markup"/>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row items-center">
                <q-space/>
                <q-btn flat @click="close">
                  <span>Close</span>
                </q-btn>
                <q-btn flat @click="update"
                       :disable="readonly"
                       :loading="processes.updating.in_progress"
                       color="primary">
                  <span>Save</span>
                </q-btn>
              </div>
            </div>
          </template>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import {ref, reactive} from 'vue'
import {useQuasar} from 'quasar'
import {use_api} from 'src/composibles/api'

export default {
  props: {
    readonly: {type: Boolean, default: false},
    scope_id: {type: String},
    scope_type: {type: String}
  },
  setup (props, context) {
    const $q = useQuasar()
    const api = use_api()
    const showed = ref(false)
    const price = ref({})
    const processes = reactive({
      updating: {
        in_progress: false
      },
      getting_price: {
        in_progress: false
      }
    })
    const bk_product_id = ref('')

    const open = (id) => {
      bk_product_id.value = id
      get_price()
      showed.value = true
    }
    const close = () => {
      showed.value = false
      price.value = {}
    }

    const get_price = async () => {
      let process = processes.getting_price
      process.in_progress = true
      const response = await api.list_booking_prices({
        scope_id: props.scope_id,
        scope_type: props.scope_type
      })
      if (response.status === 200) {
        price.value = response.data.result[0]
      }
      process.in_progress = false
    }
    const update = async () => {
      let process = processes.updating
      if (process.in_progress) return
      process.in_progress = true
      const response = await api.update_booking_prices(price.value)
      if (response.status === 200) {
        context.emit('updated', response.data)
        $q.notify({
          type: 'success',
          text: 'Prices updated'
        })
        close()
      }
      process.in_progress = false
    }

    return {
      showed,
      price,
      processes,
      bk_product_id,
      open,
      close,
      get_price,
      update
    }
  },
}
</script>
