<template>
  <div class="row q-col-gutter-md">
    <template v-if="fetching.in_progress">
      <div class="col-12 text-center">
        <q-spinner color="primary" size="md"/>
      </div>
    </template>
    <template v-else>
      <template v-if="prices">
        <div class="col-12">
          <div class="flex items-center justify-between">
            <q-item-label class="text-h6">
              Prices
            </q-item-label>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-2">
          <q-item-section>
            <q-item-label caption>Base Amount</q-item-label>
            <q-item-label>
              {{ prices.currency_info.conversion }}
              {{ prices.base_amount }}
            </q-item-label>
          </q-item-section>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-2">
          <q-item-section>
            <q-item-label caption>Markup</q-item-label>
            <q-item-label>
              {{ prices.currency_info.conversion }}
              {{ prices.markup_amount }}
            </q-item-label>
          </q-item-section>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-2">
          <q-item-section>
            <q-item-label caption>Total</q-item-label>
            <q-item-label>
              {{ prices.currency_info.conversion }}
              {{ prices.total_amount }}
            </q-item-label>
          </q-item-section>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-2">
          <q-item-section>
            <q-item-label caption>Currency</q-item-label>
            <q-item-label>
              {{ prices.currency_info.original }}
              ->
              {{ prices.currency_info.conversion }}
              :
              {{ prices.currency_info.rate }}
            </q-item-label>
          </q-item-section>
        </div>
      </template>
      <template v-else>
        <div class="col-12 text-center">
          <q-item-label caption>No prices</q-item-label>
        </div>
      </template>
    </template>
    <edit-dialog
      :readonly="readonly"
      @updated="handle_updated"
      :scope_type="scope_type"
      ref="edit_dialog"/>
    <event-dialog
        ref="event_dialog"/>
  </div>
</template>
<script>
import {use_api} from 'src/composibles/api'
import {computed, onBeforeMount, reactive, ref} from 'vue'
import EditDialog from './edit-dialog'
import EventDialog from 'src/components/events/dialog'

export default {
  components: {
    EditDialog,
    EventDialog
  },
  props: {
    scope_type: {type: String, required: true},
    readonly: {type: Boolean},
    booking_product: {type: Object}
  },
  setup (props) {
    const api = use_api()
    const fetching = reactive({
      in_progress: false,
      error: null
    })

    const prices = ref([])

    const fetch = async () => {
      fetching.in_progress = true
      prices.value = props.booking_product.fare
      fetching.in_progress = false
    }

    onBeforeMount(fetch)

    const handle_updated = (data) => {
      prices.value = data
    }

    return {
      fetching,
      prices,
      handle_updated
    }
  }
}
</script>
