<template>
  <q-form v-model="form_data.valid" greedy
          ref="form"
          class="row q-col-gutter-sm">
    <div class="col-12">
      <q-input v-model="form_data.values.name"
               dense hide-bottom-space outlined
               :rules="form_data.rules.name"
               label="Name"/>
    </div>
    <div class="col-12">
      <q-input v-model="form_data.values.code"
               dense hide-bottom-space outlined
               :rules="form_data.rules.code"
               label="Code"/>
    </div>
    <div class="col-12">
      <q-input v-model="form_data.values.product_code"
               dense hide-bottom-space outlined
               :rules="form_data.rules.code"
               label="Product Code"/>
    </div>
    <div class="col-12">
      <q-select v-model="form_data.values.env"
                :rules="form_data.rules.env"
                :options="['dev', 'staging', 'production']"
                dense hide-bottom-space outlined
                label="Environment"/>
    </div>
    <div class="col-12">
      <urls :product_code="form_data.values.product_code"
            v-model="form_data.values.urls"/>
    </div>
    <div class="col-12">
      <credentials :product_code="form_data.values.product_code"
            v-model="form_data.values.credentials"/>
    </div>
  </q-form>
</template>
<script>
import {reactive, ref, watch} from 'vue'

import Urls from './urls'
import Credentials from './credentials'

export default {
  components: {Urls, Credentials},
  props: {
    modelValue: {type: Object, required: true},
  },
  setup (props, context) {
    const form = ref(null)

    const init_form_values = () => Object.assign({
      id: null,
      name: null,
      env: null,
      code: null,
      product_code: null,
      urls: null
    }, props.modelValue)

    const form_data = reactive({
      valid: false,
      values: init_form_values(),
      rules: {
        product_code: [
          v => (!!v && !!v.trim()) || 'Required'
        ],
        name: [
          v => (!!v && !!v.trim()) || 'Required'
        ],
        env: [
          v => (!!v && !!v.trim()) || 'Required'
        ],
        code: [
          v => (!!v && !!v.trim()) || 'Required'
        ],
      }
    })

    const validate = () => {
      return form.value.validate()
    }

    watch(
        form_data.values,
        (result) => {
          context.emit('update:modelValue', result)
        }
    )

    return {
      form_data,
      form,
      validate,
    }
  }
}
</script>
