<template>
  <div class="masonry-item shadow-3 cursor-pointer"
       :class="classes"
       :style="styles"
       @click="$emit('selected', image)"
       v-masonry-tile>
    <img :src="image.url"
         width="100%" draggable="false"
         style="border-radius: 5px"
         :alt="image.name"/>
    <q-btn size="xs" round dense
           color="green"
           v-if="selected" icon="check"
           class="select-checkbox"/>
  </div>
</template>
<script>
export default {
  props: {
    image: {type: Object, required: true},
    selected: {type: Boolean, default: false}
  },
  computed: {
    styles () {
      let result = {}
      return result
    },
    classes () {
      let result = []
      return result
    }
  }
}
</script>
<style scoped>
.masonry-item {
  margin: 4px;
  width: 150px;
  border-radius: 5px;
  min-height: 50px;
  align-items: center;
  display: flex;
}

.masonry-item:hover {
  outline: 2px cornflowerblue solid;
}

.select-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}
</style>