<template>
  <q-btn :size="size"
         :icon="icon"
         @click="copy"
         dense flat round
         :color="btn_color"/>
</template>
<script>
import {copyToClipboard, useQuasar} from 'quasar'

export default {
  props: {
    modelValue: {type: String, required: true},
    size: {type: String, default: 'sm'},
    icon: {type: String, default: 'mdi-content-copy'},
    btn_color: {type: String, default: 'primary'},
    notify_color: {type: String, default: 'black'},
    text_color: {type: String, default: 'white'},
    message: {type: String, default: 'Copied'},
    position: {type: String, default: 'bottom'},
    timeout: {type: Number, default: 1000},
  },
  setup (props) {
    const $q = useQuasar()
    const copy = () => {
      copyToClipboard(props.modelValue).then(() => {
        $q.notify({
          color: props.notify_color,
          textColor: props.text_color,
          position: props.position,
          message: props.message,
          timeout: props.timeout,
        })
      })
    }
    return {copy}
  },
}
</script>
