<template>
  <q-select :label="label"
            :outlined="outlined"
            v-model="value"
            ref="input"
            @input="val => $emit('input', val)"
            :options="options"
            :rules="rules"
            :multiple="multiple"
            :use-chips="use_chips"
            :readonly="readonly"
            :clearable="clearable"
            :hide-bottom-space="hide_bottom_space"
            @filter="filter"
            :loading="loading"
            :dense="dense">
    <template v-slot:selected v-if="value">
      {{`${value.first_name} ${value.last_name}`}}
    </template>
    <template v-slot:option="props">
      <q-item
        v-bind="props.itemProps"
        v-on="props.itemEvents"
      >
        <q-item-section>
          <q-item-label>{{`${props.opt.first_name} ${props.opt.last_name}`}}</q-item-label>
          <q-item-label caption v-html="props.opt.title"/>
        </q-item-section>
        <q-item-section side>
          <q-item-label v-html="props.opt.type"/>
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>
<script>
import {use_api} from 'src/composibles/api'
import {ref, onMounted} from 'vue'

export default {
  props: {
    value: {},
    loading: {type: Boolean, default: false},
    readonly: {type: Boolean, default: false},
    outlined: {type: Boolean, default: false},
    dense: {type: Boolean, default: false},
    hide_bottom_space: {type: Boolean, default: false},
    use_chips: {type: Boolean, default: false},
    multiple: {type: Boolean, default: false},
    clearable: {type: Boolean, default: false},
    booking_code: {type: String, required: true},
    label: {type: String, default: 'Passengers'},
    rules: {type: Array, default: () => ([])}
  },
  setup (props, context) {
    const api = use_api()
    const options = ref([])
    const input = ref(null)

    const validate = () => {
      return input.value.validate()
    }

    const filter = async  (search_text, update, abort) => {
      if (!search_text && options.value.length) return update()
      options.value = await list(search_text)
      update()
    }

    const list = async (search_text) => {
      let payload =  {
        search_text: search_text,
        booking_code: props.booking_code
      }
      const response = await api.list_booking_travelers(payload)
      if (response.status === 200) {
        return response.data.result
      }
      return []
    }

    onMounted(() => {
      list()
    })

    return {
      options,
      input,
      validate,
      filter,
      list
    }
  },
}
</script>
