<template>
  <q-dialog v-model="showed" persistent>
    <q-card style="width: 500px; max-width: 99vw;">
      <q-item>
        <q-item-section>
          <q-item-label class="text-h6">Account Role</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-btn dense flat round icon="close" @click="toggle"/>
        </q-item-section>
      </q-item>
      <q-separator/>
      <q-card-section>
        <q-form v-model="account.valid" v-if="!process.loading" greedy
          ref="form"
          class="row q-col-gutter-sm">
          <div class="col-12 col-md-8">
              <div v-for="(role, key) in roles.values" :index="key" :key="key">
                <div class="row q-col-gutter-sm">
                  <q-checkbox v-model="role.selected" dense/>
                  <span style="margin-left:7px">{{role.name}}</span>
                </div>
              </div>
          </div>
        </q-form>
        <div v-if="process.loading">
          Loading ....
        </div>
      </q-card-section>

      <q-card-section v-if="process.error">
        <q-item dark class="bg-negative">
          <q-item-section side>
            <q-icon name="error"/>
          </q-item-section>
          <q-item-section>
            <q-item-label caption>{{ process.error }}</q-item-label>
            <q-item-label class="text-weight-bold">
              {{ process.error_message || 'Ops! Something wrong happened.' }}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-card-section>
      <q-card-actions align="right" style="border-top:1px solid #ebe9e9">
        <q-btn label="Cancel" flat @click="toggle"/>
        <q-btn @click="update"
               :loading="process.in_progress"
               color="primary" label="Submit"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script>
import {ref, reactive} from 'vue'
import {useQuasar} from 'quasar'

import {use_api} from 'src/composibles/api'
import cloneDeep from 'lodash/cloneDeep'

export default {
  components: {
    
  },
  data: () => ({
    is_check: true
  }),
  setup (props, context) {
    const api = use_api()
    const $q = useQuasar()
    const showed = ref(false)
    const form = ref(null)
    const account = ref({})
    const process = reactive({
      in_progress: false,
      error: null,
      error_message: null,
      loading: false
    })
    const roles = reactive({
      valid: false,
      values: null
    })

    const toggle = (account_data, role_data) => {
      if (showed.value) {
        // closing logic
        account.value = {}
        roles.values = null
      } else {
        // opening logic
        account.value = cloneDeep(account_data)
        let role_data_val = cloneDeep(role_data)
        roles.values = role_data_val.map(r => {
          r.selected = false
          return r
        })
        get_account_roles()
      }
      showed.value = !showed.value
    }

    const get_account_roles = async () => {
      process.loading = true
      const response = await api.account_roles({
        account_id: account.value.id
      })
      if (response.status === 200 && response.data.length > 0) {
        let account_role = response.data
        roles.values = roles.values.map(r => {
          let is_checked = account_role.some(x => x.role_id == r.id)
          r.selected = is_checked ? true: false
          return r
        })
      }
      process.loading = false
    }

    const update = async () => {
      process.in_progress = true
      process.error = null

      let role_ids = []
      let role_selected = roles.values.filter(r => r.selected == true)
      role_ids = role_selected.map(r => r.id)

      const response = await api.add_account_roles({
        account_id: account.value.id,
        role_ids: role_ids
      })

      if (response.status === 200) {
        $q.notify({
          type: 'positive',
          message: 'Account Role updated!'
        })
        toggle()
      } else {
        process.error = response.data.error
        process.error_message = response.data.message
      }
      process.in_progress = false
    }
    return {
      showed,
      form,
      roles,
      account,
      process,
      toggle,
      update
    }
  }
}
</script>
