<template>
  <q-card flat bordered>
    <q-item dense>
      <q-item-section>
        <q-item-label class="text-weight-medium">Urls</q-item-label>
      </q-item-section>
    </q-item>
    <q-separator/>
    <q-card-section>
      <div class="row q-col-gutter-sm">
        <div class="col-12" v-for="field in fields" :key="field">
          <q-input v-model="form[field]" dense
                   :label="field"/>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>
<script>
import {computed, ref, onBeforeMount, watch} from 'vue'

const PRODUCT_URLS = {
  flight: [
    'search',
    'booking',
    'prebook',
    'gen_eticket',
    'login',
    'cancel',
    'addons',
    'seats'
  ]
}

const PAYMENT_URLS = ['get_options']

export default {
  props: {
    modelValue: {type: Object, default: () => ({})},
    product_code: {type: String},
  },
  setup (props, context) {
    const form = ref({})
    const fields = PRODUCT_URLS.flight

    onBeforeMount(() => {
      const value = props.modelValue || {}
      PRODUCT_URLS.flight.forEach(f => {
        form.value[f] = value[f] || null
      })
    })

    watch(
      form.value,
      () => {
        context.emit('update:modelValue', form.value)
      }
    )

    return {
      fields,
      form
    }

  }
}
</script>
