<template>
  <div class="row q-col-gutter-xs">
    <div class="col-12">
      <q-input :label="label"
               :disable="processes.uploading.in_progress"
               :value="value" outlined dense
               @input="val => $emit('input', val)"
               placeholder="Link or base64 data">
        <template v-slot:prepend>
          <q-icon name="link"/>
        </template>
        <template v-if="value" v-slot:append>
          <clipboard-btn :value="value" size="xs" btn_color="black"/>
        </template>
      </q-input>
    </div>
    <div class="col-12">
      <q-btn-group spread unelevated>
        <q-btn label="Upload" outline size="sm"
               no-caps
               @click="$refs.file_picker.click()"
               :loading="processes.uploading.in_progress"
               color="primary" icon="backup">
          <input v-show="false" type="file"
                 ref="file_picker"
                 accept="image/*" @input="upload"/>
        </q-btn>
        <q-btn label="From Media" outline no-caps
               @click="$refs.media_image_dialog.open()"
               size="sm" :disable="processes.uploading.in_progress"
               color="primary" icon="perm_media">
          <media-image-dialog
                              @image_selected="handle_image_selected"
                              :object_type="object_type"
                              :object_id="object_id"
                              ref="media_image_dialog"/>
        </q-btn>
      </q-btn-group>
    </div>
    <div class="col-12">
      <q-card flat bordered class="q-pa-sm">
        <q-img v-bind="bind_data"
               style="border-radius: 5px"/>
      </q-card>
    </div>
  </div>
</template>
<script>
import MediaImageDialog from './media-image-dialog'
import ClipboardBtn from 'src/components/common/clipboard-btn'

export default {
  components: {MediaImageDialog, ClipboardBtn},
  props: {
    label: {type: String},
    value: {type: String},
    object_type: {type: String},
    object_id: {type: String},
    size: {
      type: Object,
      default: () => ({
        ratio: 4 / 3
      })
    },
  },
  data () {
    return {
      processes: {
        uploading: {
          in_progress: false
        }
      },
      input_type: null,
      input_types: [
        {
          id: 'link',
          label: 'Link',
          icon: 'mdi-link'
        },
        {
          id: 'file',
          label: 'File',
          icon: 'mdi-file-upload'
        }
      ],
      default_image: require('src/assets/images/default_image.png')
    }
  },
  computed: {
    src () {
      return this.value || this.default_image
    },
    hint () {
      let result
      if (this.input_type.id === 'file') {
        result = 'Click to upload'
      } else {
        result = 'Link or base64 data'
      }
      return result
    },
    bind_data () {
      let result = {
        src: this.src,
        ...this.size
      }
      return result
    }
  },
  methods: {
    handle_image_selected (image) {
      this.$emit('input', image.url)
    },
    handle_input_changed ($event) {
      this.$emit('input', $event.target.value)
    },
    async upload ($event) {
      let process = this.processes.uploading
      if (process.in_progress) return
      let files = $event.target.files
      if (!files.length) return
      process.in_progress = true
      const service = new this.$services.StorageService(this)
      let file = files[0]
      let form = new FormData()
      form.append('file', file)
      form.append('object_type', this.object_type)
      form.append('object_id', this.object_id)
      form.append('file_type', 'media')
      const response = await service.create(form)
      if (response.status === 200) {
        this.$emit('input', response.data.url)
      }
      $event.target.value = ''
      process.in_progress = false
    }
  },
  created () {
    if (!this.input_type) this.input_type = this.input_types[0]
  }
}
</script>
<style scoped>
.input-field {
  border: none;
  outline: none;
  width: 100%;
}
</style>
