<template>
  <q-dialog v-model="showed" persistent>
    <q-card style="max-width: 100vw; width: 700px">
      <q-item>
        <q-item-section>
          <q-item-label class="text-h6">Choose From Media</q-item-label>
        </q-item-section>
        <q-item-section avatar>
          <q-btn flat round dense icon="close" @click="close"/>
        </q-item-section>
      </q-item>
      <q-separator/>
      <q-card-section style="max-height: 500px; overflow-y: auto">
        <media-images
                      mode="select"
                      @image_selected="handle_image_selected"
                      :object_type="object_type"
                      :object_id="object_id"/>
      </q-card-section>
      <q-separator/>
      <q-card-actions align="right">
        <q-btn flat @click="close">Cancel</q-btn>
        <q-btn color="primary"
               :disable="!selected_image"
               @click="submit">Submit</q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script>
import MediaImages from '../images'
import cloneDeep from 'lodash/cloneDeep'
export default {
  components: {
    MediaImages
  },
  props: {
    readonly: {type: Boolean, default: false},
    object_id: {type: String},
    object_type: {type: String},
  },
  data () {
    return {
      showed: false,
      selected_image: null
    }
  },
  methods: {
    open () {
      this.showed = true
    },
    close () {
      this.showed = false
      this.selected_image = null
    },
    handle_image_selected (images) {
      if (images.length) this.selected_image = images[0]
      else this.selected_image = null
    },
    submit () {
      this.$emit('image_selected', cloneDeep(this.selected_image))
      this.close()
    }
  }
}
</script>
<style scoped>
.drop-placeholder {
  border: 2px dashed cornflowerblue;
  border-radius: 5px;
}
</style>