<template>
  <div class="row q-col-gutter-xs">
    <div class="col-12">
      <q-input :label="label"
               :value="value" outlined dense
               @input="val => $emit('input', val)"
               placeholder="Embedded Video Url">
        <template v-slot:prepend>
          <q-icon name="link"/>
        </template>
        <template v-if="value" v-slot:append>
          <clipboard-btn :value="value" size="xs" btn_color="black"/>
        </template>
      </q-input>
    </div>
    <div class="col-12">
      <template v-if="value">
        <q-video v-bind="bind_data"
                 style="border-radius: 5px"></q-video>
      </template>
      <template v-else>
        <q-img v-bind="bind_data"
               style="border-radius: 5px"/>
      </template>
    </div>
  </div>
</template>
<script>
import ClipboardBtn from 'src/components/common/clipboard-btn'

export default {
  components: {ClipboardBtn},
  props: {
    label: {type: String},
    value: {type: String},
    object_id: {type: String},
    object_type: {type: String},
    service: {type: Object, required: true},
    size: {
      type: Object,
      default: () => ({
        ratio: 4 / 3
      })
    },
  },
  data () {
    return {
      processes: {
        uploading: {
          in_progress: false
        }
      },
      input_type: null,
      input_types: [
        {
          id: 'link',
          label: 'Link',
          icon: 'mdi-link'
        },
        {
          id: 'file',
          disabled: true,
          label: 'File (coming soon)',
          icon: 'mdi-file-upload'
        }
      ],
      default_image: require('src/assets/images/default_video.png')
    }
  },
  computed: {
    bind_data () {
      let result = {
        src: this.src,
        ...this.size
      }
      return result
    },
    src () {
      return this.value || this.default_image
    }
  },
  methods: {
    handle_input_changed ($event) {
      this.$emit('input', $event.target.value)
    },
    async upload ($event) {
      let process = this.processes.uploading
      if (process.in_progress) return
      let files = $event.target.files
      if (!files.length) return
      process.in_progress = true
      const service = this.service.services.storage
      let file = files[0]
      let form = new FormData()
      form.append('file', file)
      form.append('object_type', this.object_type)
      form.append('object_id', this.object_id)
      form.append('file_type', 'media')
      const response = await service.create(form)
      if (response.status === 200) {
        this.$emit('input', response.data)
      }
      $event.target.value = ''
      process.in_progress = false
    }
  },
  created () {
    if (!this.input_type) this.input_type = this.input_types[0]
  }
}
</script>
<style scoped>
.input-field {
  border: none;
  outline: none;
  width: 100%;
}
</style>
