<template>
  <q-form v-model="form_data.valid" greedy
          ref="form"
          class="row q-col-gutter-md">
    <div class="col-12 col-md-6" v-for="field in fields" :key="field">
      <q-input v-model="form_data.values[field]"
                :label="field" dense/>
    </div>
  </q-form>
</template>
<script>
import {reactive, ref, watch} from 'vue'

import DatePicker from 'components/common/date-picker'

export default {
  components: {
    // DatePicker
  },
  props: {
    modelValue: {type: Object, required: true},
    fields: {type: Array, required: true},
  },
  setup (props, context) {
    const form = ref(null)

    const init_form_values = () => Object.assign({
      uid: null
    }, props.modelValue)

    const form_data = reactive({
      valid: false,
      values: init_form_values(),
    })

    const validate = () => {
      return form.value.validate()
    }

    watch(
      form_data.values,
      (result) => {
        context.emit('update:modelValue', result)
      }
    )

    return {
      form_data,
      form,
      validate
    }
  }
}
</script>
