<template>
    <q-item>
      <q-item-section>
        <q-item-label class="text-h6">
          {{ data.departure_airport_code }} to {{ data.arrival_airport_code }}
        </q-item-label>
        <q-item-label caption>
          {{ data.is_round_trip ? 'Round-trip' : 'One-way' }}
        </q-item-label>
      </q-item-section>
    </q-item>
    <q-separator/>
    <q-card-section>
      <div class="row q-col-gutter-md">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
          <div class="row">
            <q-item-section>
              <q-item-label caption>Departure Airport</q-item-label>
              <q-item-label>{{ data.departure_airport_code }}</q-item-label>
            </q-item-section>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
          <div class="row">
            <q-item-section>
              <q-item-label caption>Arrival Airport</q-item-label>
              <q-item-label>{{ data.arrival_airport_code }}</q-item-label>
            </q-item-section>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
          <div class="row">
            <q-item-section>
              <q-item-label caption>Departure Date</q-item-label>
              <q-item-label>
                <datetime :modelValue="data.departure_datetime"/>
              </q-item-label>
            </q-item-section>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3" v-if="data.return_datetime">
          <div class="row">
            <q-item-section>
              <q-item-label caption>Return Date</q-item-label>
              <q-item-label>
                <datetime :modelValue="data.return_datetime"/>
              </q-item-label>
            </q-item-section>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
          <div class="row">
            <q-item-section>
              <q-item-label caption>Cabin Class</q-item-label>
              <q-item-label>
                {{ data.fare.cabin_class || '-/-' }}
              </q-item-label>
            </q-item-section>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
          <div class="row">
            <q-item-section>
              <q-item-label caption>Provider</q-item-label>
              <q-item-label>
                {{ data.supplier_code || '-/-' }}
              </q-item-label>
            </q-item-section>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
          <div class="row">
            <q-item-section>
              <q-item-label caption>PNR / Host PNR</q-item-label>
              <q-item-label>
                {{ data.pnr || '-' }} / {{ data.pnr_data?.host_pnr || '-' }}
              </q-item-label>
            </q-item-section>
          </div>
        </div>
      </div>
    </q-card-section>
    <q-separator />
    <q-card-section>
      <div class="text-h6 q-mb-sm">Segments</div>
      <segments :value="data.segments || []"/>
    </q-card-section>
    <q-separator />
    <q-card-section>
      <div class="text-h6 q-mb-sm">E-Tickets</div>
      <etickets :booking_product="product.eticket_data" :readonly="readonly" />
    </q-card-section>
</template>
<script>
import {computed, ref} from 'vue'
import moment from 'moment'

import Segments from './segments'
import Etickets from './etickets'
import Datetime from 'src/components/common/datetime'

export default {
  components: {Segments, Etickets, Datetime},
  props: {
    product: {type: Object, required: true},
    readonly: {type: Boolean, default: false},
  },
  setup (props) {
    const data = ref(props.product)
    return {
      data,
    }
  }
}
</script>
