<template>
  <q-card flat>
    <q-item>
      <q-item-section>
        <q-item-label class="text-weight-medium text-subtitle1">
          Contact
        </q-item-label>
      </q-item-section>
    </q-item>
    <q-separator/>
    <template v-for="cf in contact_fields" :key="cf.key">
      <q-item>
        <q-item-section>
          <q-item-label caption>{{ cf.label }}</q-item-label>
          <q-item-label>
            {{ modelValue[cf.key] || '-/-' }}
          </q-item-label>
        </q-item-section>
        <q-item-section avatar>
          <template v-for="action in cf.actions" :key="action">
            <template v-if="action === 'edit'">
              <q-btn color="primary"
                     round size="sm"
                     dense icon="edit"
                     flat>
                <popup-edit
                  :type="cf.data_type"
                  v-model="modelValue[cf.key]"
                  :rules="cf.rules || []"
                  :label="cf.label"
                  @submitted="val => submit(cf.key, val)" />
              </q-btn>
            </template>
          </template>
        </q-item-section>
      </q-item>
      <q-separator/>
    </template>
  </q-card>
</template>
<script>
import PopupEdit from 'components/common/popup-edit'
import {use_api} from 'src/composibles/api'
import {useQuasar} from 'quasar'

export default {
  components: {
    PopupEdit
  },
  props: {
    modelValue: {type: Object, required: true},
    booking_id: {type: String, required: true},
  },
  setup (props) {
    const api = use_api()
    const $q = useQuasar()
    const contact_fields = [
      {
        key: 'email',
        label: 'Email',
        data_type: 'text',
        actions: ['edit']
      },
      {
        key: 'phone',
        label: 'Phone',
        data_type: 'text',
        actions: ['edit']
      },
      {
        key: 'first_name',
        label: 'First Name',
        data_type: 'text',
        actions: ['edit']
      },
      {
        key: 'last_name',
        label: 'Last Name',
        data_type: 'text',
        actions: ['edit']
      },
      {
        key: 'country',
        label: 'Country',
        data_type: 'text',
        actions: ['edit']
      },
      {
        key: 'city',
        label: 'City',
        data_type: 'text',
        actions: ['edit']
      },
      {
        key: 'address',
        label: 'Address',
        data_type: 'text',
        actions: ['edit']
      }
    ]

    const submit = async(key, val) => {
      let payload = {
        booking_id: props.booking_id,
        contact_key: key,
        contact_field: val
      }

      const response = await api.update_contact(payload)
      if (response.status === 200) {
          $q.notify({
          type: 'positive',
          message: 'Contact updated!',
        })
      }
    }

    return {
      contact_fields,
      submit
    }
  }
}
</script>
