<template>
  <q-page>
    <q-separator/>
    <booking-detail :back_to="{name: 'main.bookings'}" :id="id"/>
  </q-page>
</template>
<script>
import BookingDetail from 'src/components/booking/detail'

import {useRoute} from 'vue-router'

export default {
  components: {
    BookingDetail
  },
  setup () {
    const route = useRoute()
    const id = route.params.id

    return {
      id
    }

  }
}
</script>
