<template>
  <q-chip size="sm" removable @remove="$emit('remove')">
    {{ modelValue.field_label }}:
    <template v-if="modelValue.field_type === 'date'">
      <date :model-value="modelValue.option_value"/>
    </template>
    <template v-else>
      {{ modelValue.option_label || modelValue.option_value }}
    </template>
  </q-chip>
</template>
<script>
import Date from 'src/components/common/date'

export default {
  components: {Date},
  props: {
    modelValue: {type: Object, required: true}
  },
  setup (props) {

  }
}
</script>
