<template>
  <div class="row items-center q-col-gutter-sm">
    <div class="col-12">
      <q-table
          square dense
          @request="handle_pagination_changes"
          flat :data="events"
          :columns="columns"
          row-key="id"
          :rows-per-page-options="[20, 50, 100]"
          v-model:pagination="pagination"
          :loading="processes.listing.in_progress"
          binary-state-sort
      >
        <template v-slot:body-cell-created_at="props">
          <q-td :props="props">
            <datetime :value="props.row.created_at"/>
          </q-td>
        </template>
        <template v-slot:body-cell-creator_id="props">
          <q-td :props="props">
            <span>{{props.row.creator.email}}</span>
          </q-td>
        </template>
        <template v-slot:body-cell-changes="props">
          <q-td :props="props">
            <q-btn label="See changes" flat color="primary" dense
                   class="text-capitalize text-weight-regular"
                   @click="see_changes(props.row.changes)" />
          </q-td>
        </template>
        <template v-slot:body-cell-action="props">
          <q-td :props="props">
            <q-chip square size="sm"
                    text-color="white"
                    :color="get_action(props.row.action).color">
              <span>{{get_action(props.row.action).name}}</span>
            </q-chip>
          </q-td>
        </template>
      </q-table>
    </div>
    <changes ref="changes_dialog" />
  </div>
</template>
<script>
import Changes from '../changes'
import debounce from 'lodash/debounce'

export default {
  components: {
    Changes
  },
  props: {
    object_id: {type: String},
    object_type: {type: String},
    related_id: {type: String},
  },
  data: () => ({
    events: [],
    columns: [
      {
        name: 'object_type',
        field: 'object_type',
        label: 'Object',
        align: 'left'
      },
      {
        name: 'action',
        field: 'action',
        label: 'Action',
        align: 'center'
      },
      {
        name: 'created_at',
        field: 'created_at',
        label: 'Date',
        align: 'left',
        sortable: true
      },
      {
        name: 'creator_id',
        field: 'creator_id',
        label: 'PIC',
        align: 'left'
      },
      {
        name: 'description',
        field: 'description',
        label: 'Description',
        align: 'left'
      },
      {
        name: 'changes',
        field: 'changes',
        label: 'Changes',
        align: 'left'
      }
    ],
    pagination: {
      sortBy: 'created_at',
      descending: true,
      page: 1,
      rowsPerPage: 20,
      rowsNumber: 0
    },
    processes: {
      listing: {
        in_progress: false
      }
    },
    filter_data: {
      search_text: '',
      product_codes: [],
      agent_ids: [],
      payment_status: 'all',
      product_status: 'all',
      booking_date_from: null,
      booking_date_to: null
    },
    agents: [],
    payment_status: [
      {code: 'all', name: 'All'},
      {code: 'success', name: 'Success'},
      {code: 'processing', name: 'Processing'},
      {code: 'aborted', name: 'Aborted'},
      {code: 'failed', name: 'Failed'},
      {code: 'refunded', name: 'Refunded'},
    ],
    product_status: [
      {code: 'all', name: 'All'},
      {code: 'success', name: 'Success'},
      {code: 'processing', name: 'Processing'},
      {code: 'aborted', name: 'Aborted'},
      {code: 'failed', name: 'Failed'},
      {code: 'refunded', name: 'Refunded'},
      {code: 'canceled', name: 'Canceled'},
    ],
  }),
  mounted () {
    this.list()
  },
  computed: {
    table_sorts () {
      let result = this.pagination.sortBy
      let descending = this.pagination.descending
      return `${descending === true ? '-' : '+'}${result}`
    }
  },
  methods: {
    handle_pagination_changes (props) {
      Object.assign(this.pagination, props.pagination)
      this.list()
    },
    list: debounce(async function () {
      let process = this.processes.listing
      if (process.in_progress) return

      process.in_progress = true

      let service = new this.$services.EventService(this)
      let payload = {
        object_id: this.object_id,
        object_type: this.object_type,
        related_id: this.related_id,
        page: this.pagination.page,
        per_page: this.pagination.rowsPerPage,
        sorts: this.table_sorts,
      }

      const response = await service.list(payload)
      if (response.status === 200) {
        // success
        this.events = response.data.result
        this.pagination.rowsNumber = response.data.total
      }
      process.in_progress = false
    }, 500),
    get_action (id) {
      return this.$context.event_actions.find(ea => ea.id === id)
    },
    see_changes (data) {
      this.$refs.changes_dialog.open(data)
    }
  }
}

</script>
