<template>
  <q-input :outlined="outlined"
           :label="label" ref="input"
           :value="value" bottom-slots
           :rules="rules" placeholder="Type your icon here, for example: edit"
           @input="val => $emit('input', val)"
           dense>
    <template v-slot:append v-if="value">
      <q-icon :name="value"/>
    </template>
    <template v-slot:hint>
      <div>Find your icons
        <a target="_blank"
           rel="noopener noreferrer"
           href="https://material.io/resources/icons/?style=baseline">here</a></div>
    </template>
  </q-input>
</template>
<script>
export default {
  props: {
    value: {type: String},
    outlined: {type: Boolean, default: false},
    label: {type: String},
    rules: {type: Array, default: () => ([])}
  },
  data () {
    return {}
  },
  methods: {
    validate () {
      return this.$refs.input.validate()
    }
  }
}
</script>