<template>
  <q-dialog v-model="showed" persistent>
    <q-card style="width: 700px; max-width: 99vw;">
      <q-item>
        <q-item-section>
          <q-item-label class="text-h6">Update Traveler</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-btn dense flat round icon="close" @click="toggle"/>
        </q-item-section>
      </q-item>
      <q-separator/>
      <q-card-section>
        <div class="row q-col-gutter-md">
          <div class="col-12">
            <record-form v-model="record"
                         :fields="fields"
                         ref="form"/>
          </div>
          <div class="col-12 text-right">
            <q-btn label="Cancel" flat @click="toggle"/>
            <q-btn @click="update"
                   :loading="processes.updating.in_progress"
                   color="primary" label="Submit"/>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import {ref, reactive} from 'vue'
import {useQuasar} from 'quasar'

import {use_api} from 'src/composibles/api'

import RecordForm from '../../form'

export default {
  components: {
    RecordForm,
  },
  props: {
    fields: {type: Array, required: true},
  },
  setup (props, context) {
    const api = use_api()
    const $q = useQuasar()
    const showed = ref(false)
    const form = ref(null)
    const record = ref({})
    const processes = reactive({
      updating: {
        in_progress: false,
        error: null,
        error_message: null
      },
    })

    const toggle = (data) => {
      if (showed.value) {
        // closing logic
        record.value = {}
      } else {
        // opening logic
        record.value = data
      }
      showed.value = !showed.value
    }

    const update = async () => {
      if (!await form.value.validate()) return
      let process = processes.updating
      process.in_progress = true
      process.error = null

      const response = await api.update_booking_traveler({
        id: record.value.id,
        details: record.value.data
      })
      if (response.status === 200) {
        context.emit('updated', response.data)
        $q.notify({
          type: 'positive',
          message: 'Traveler updated!'
        })
        toggle()
      } else {
        process.error = response.data.error
        process.error_message = response.data.message
      }
      process.in_progress = false
    }

    return {
      showed,
      form,
      processes,
      toggle,
      update,
      record
    }
  }
}
</script>
