<template>
  <q-btn-dropdown @before-show="list_languages" :label="modelValue">
    <q-list style="min-width: 100px">
      <template v-if="listing">
        <q-item>
          <q-item-section>
            <q-item-label class="text-center">
              <q-spinner size="md"/>
            </q-item-label>
          </q-item-section>
        </q-item>
      </template>
      <template v-else>
        <q-item clickable v-for="language in languages" v-close-popup
                @click="$emit('update:modelValue', language.code)"
                :key="language.code">
          <q-item-section>
            <q-item-label>{{ language.code }}</q-item-label>
          </q-item-section>
        </q-item>
      </template>
    </q-list>
  </q-btn-dropdown>
</template>
<script>
import {ref} from 'vue'

import {use_api} from 'src/composibles/api'

export default {
  props: {
    modelValue: {type: String, required: true},
    scope_type: {type: String, required: true},
    scope_id: {type: String}
  },
  setup (props) {
    const api = use_api()

    const listing = ref(false)
    const languages = ref([])
    const list_languages = async () => {
      listing.value = true

      const response = await api.list_languages({
        scope_type: props.scope_type,
        scope_id: props.scope_id,
        per_page: 1000
      })
      if (response.status === 200) {
        languages.value = response.data.result
      }

      listing.value = false
    }

    return {
      list_languages,
      languages,
      listing
    }
  },
}
</script>
