<template>
  <table-filter v-model="filters.value"
                :fields="filters.options"/>
  <q-separator/>
  <q-table
    flat
    :columns="columns"
    :rows="records"
    v-model:pagination="pagination"
    @request="handle_pagination_changed"
    :loading="processes.listing.in_progress"
    binary-state-sort
    row-key="id"
    dense>
    <template v-slot:body-cell-actions="props">
      <q-td :props="props">
        <q-btn dense round
          @click="$refs.update_account.toggle(props.row)"
          size="sm" color="primary"
          flat icon="open_in_new">
          <q-tooltip class="bg-blue" :offset="[5, 5]">
            Edit
            </q-tooltip>
        </q-btn>
      </q-td>
    </template>
    <template v-slot:body-cell-created_at="props">
      <q-td :props="props">
        <datetime :modelValue="props.row.created_at"/>
      </q-td>
    </template>
  </q-table>
  <update-dialog ref="update_account"/>
</template>
<script>
import {ref, reactive, watch} from 'vue'
import debounce from 'lodash/debounce'
import cloneDeep from 'lodash/cloneDeep'

import {use_api} from 'src/composibles/api'

import TableFilter from 'src/components/common/table-filter'
import Datetime from 'src/components/common/datetime'
import UpdateDialog from 'components/iam/account/dialogs/update'

export default {
  components: {
    TableFilter,
    Datetime,
    UpdateDialog,
  },
  props: {
    default_filters: {type: Object}
  },
  setup (props) {
    const api = use_api()

    const records = ref([])
    const columns = [
      {
        name: 'email',
        field: 'email',
        label: 'Email',
        align: 'left',
      },
      {
        name: 'type',
        field: 'type',
        label: 'Type',
        align: 'left',
      },
      {
        name: 'roles',
        field: 'roles',
        label: 'Roles',
        align: 'left',
      },
      {
        name: 'status',
        field: 'status',
        label: 'Status',
        align: 'center',
      },
      {
        name: 'created_at',
        field: 'created_at',
        label: 'Created At',
        align: 'left',
        sortable: true
      },
      {
        name: 'actions',
        field: 'actions',
        label: '',
        align: 'right'
      }
    ]
    const pagination = ref({
      sortBy: 'created_at',
      descending: true,
      page: 1,
      rowsPerPage: 25,
      rowsNumber: 0
    })

    const filters = reactive({
      value: cloneDeep(props.default_filters || {}),
      options: [
        {
          name: 'search_texts',
          label: 'Search',
          default: true,
          type: 'textinput'
        },
        {
          name: 'created_before',
          label: 'Created before',
          type: 'date'
        },
        {
          name: 'created_after',
          label: 'Created after',
          type: 'date'
        }
      ]
    })

    const processes = reactive({
      listing: {
        in_progress: false
      }
    })

    const list_records = async () => {
      let process = processes.listing
      process.in_progress = true
      let payload = {
        ...filters.value,
        page: pagination.value.page,
        per_page: pagination.value.rowsPerPage,
        sorts: `${pagination.value.descending ? '-' : '+'}${pagination.value.sortBy}`
      }
      const response = await api.list_accounts(payload)
      if (response.status === 200) {
        let result = []
        response.data.result.forEach(x => {
          x.roles = "Administrator"
          result.push(x)
        });
        records.value = result
        pagination.value.rowsNumber = response.data.total
      }
      process.in_progress = false
    }

    const filter_records = debounce(list_records, 500)

    watch(
      () => filters.value,
      () => {
        filter_records()
      }
    )

    return {
      records,
      columns,
      filters,
      pagination,
      processes,
      handle_pagination_changed: (props) => {
        pagination.value = props.pagination
        filter_records()
      }
    }
  }
}
</script>
