<template>
  <q-form v-model="form_data.valid" greedy
          ref="form"
          class="row q-col-gutter-lg">
    <div class="col-12 col-md-6">
      <div class="row q-col-gutter-lg">
        <div class="col-12">
          <div class="row q-col-gutter-md">
            <div class="col-12">
              <q-item-label class="text-subtitle1 text-primary">
                General Information
              </q-item-label>
            </div>
            <div class="col-12">
              <div class="row q-col-gutter-sm">
                <div class="col-12">
                  <q-input v-model="form_data.values.name"
                           :rules="form_data.rules.name"
                           dense hide-bottom-space
                           label="Name"/>
                </div>
                <div class="col-12">
                  <!-- <product-select
                    :readonly="form_data.values.id"
                    label="Products"
                    v-model="form_data.values.product_code"
                    :rules="form_data.rules.product_code"
                    :meta="{
                      'emit-value': true,
                      'map-options': true,
                      'option-label': 'code',
                      'option-value': 'code',
                    }"
                    scope_type="System"/> -->
                </div>
                <template v-if="scope_type === 'AgentType'">
                  <div class="col-12">
                    <!-- <agent-type-select label="Agent Type"
                                       :scope_type="scope_type"
                                       v-model="form_data.values.scope"
                                       :rules="form_data.rules.scope"
                                       :app_id="app_id"/> -->
                  </div>
                </template>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12"
             v-if="form_data.values.product_code">
          <div class="row q-col-gutter-md">
            <div class="col-12">
              <q-item-label class="text-subtitle1 text-primary">
                Values
              </q-item-label>
            </div>
            <div class="col-12">
              <value v-model="form_data.values.value"
                     :app_id="app_id"
                     :product_code="form_data.values.product_code"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="row q-col-gutter-md">
        <div class="col-12">
          <q-item-label class="text-subtitle1 text-primary">
            Conditions
          </q-item-label>
        </div>
        <div class="col-12">
          <condition
            :product_code="form_data.values.product_code"
            v-model="form_data.values.condition"/>
        </div>
      </div>
    </div>
  </q-form>
</template>
<script>
import {reactive, ref, watch} from 'vue'

// import ProductSelect from 'components/product/select'
import Value from './value'
import Condition from './condition'
// import AgentTypeSelect from 'components/app/b2b/agent-type/select'

export default {
  components: {
    // ProductSelect,
    // AgentTypeSelect,
    Value,
    Condition,
  },
  props: {
    modelValue: {type: Object, required: true},
    scope_type: {type: String, required: true},
    app_id: {type: String, required: true},
  },
  setup (props, context) {
    const form = ref(null)

    const init_condition = () => ({
      weekdays: [],
      booking_classes: [],
      hotel_stars: [],
      departure_airports: [],
      journey_types: [],
      cabin_classes: [],
      route_types: [],
      airlines: [],
      provider_ids: [],
      arrival_airports: [],
      booking_date_from: null,
      booking_date_to: null,
      travel_date_from: null,
      travel_date_to: null,
      airline_condition: 'all',
      provider_condition: 'all',
      da_condition: 'all',
      aa_condition: 'all',
      pax_count_from: null,
      pax_count_to: null,
      night_count_from: null,
      night_count_to: null,
      room_count_from: null,
      room_count_to: null,
    })
    const init_value = () => ({
      type: 'percent',
      currency_code: null,
      amount: 0.0,
      child_amount: 0.0,
      infant_amount: 0.0,
      adult_amount: 0.0,
    })

    const init_form_values = () => Object.assign({
      id: null,
      name: null,
      product_code: null,
      scope_type: props.scope_type,
      scope: null,
      condition: init_condition(),
      value: init_value(),
    }, props.modelValue)

    const form_data = reactive({
      valid: false,
      values: init_form_values(),
      rules: {
        product_code: [
          v => (!!v && !!v.trim()) || 'Required'
        ],
        name: [
          v => (!!v && !!v.trim()) || 'Required'
        ],
        scope: [
          v => (!!v && !!v.id) || 'Required'
        ]
      }
    })

    const validate = () => {
      return form.value.validate()
    }

    watch(
      () => form_data.values.product_code,
      () => {
        form_data.values.condition.provider_ids = []
        form_data.values.condition.provider_condition = 'all'
      }
    )

    watch(
      form_data.values,
      (result) => {
        context.emit('update:modelValue', result)
      }
    )

    return {
      form_data,
      form,
      validate,
    }
  }
}
</script>
