<template>
  <q-dialog
      v-model="showed"
  >
    <q-card style="width: 700px; max-width: 80vw;" v-if="segment.flight_no">
      <q-card-section>
        <div class="text-h6">Update Segment</div>
      </q-card-section>
      <q-card-section class="q-py-none">
        <div class="row items-center q-col-gutter-sm">
          <div class="col-12 col-md-6">
            <q-input v-model="segment.flight_no" label="Flight Number"/>
          </div>
          <div class="col-12 col-md-6">
            <q-input v-model="segment.cabin_class" label="Cabin Class"/>
          </div>
          <div class="col-12 col-md-6">
            <q-input v-model="segment.departure_airport.code" label="Departure Airport Code"/>
          </div>
          <div class="col-12 col-md-6">
            <q-input v-model="segment.departure_airport.name" label="Departure Airport Name"/>
          </div>
          <div class="col-12 col-md-6">
            <q-input v-model="segment.arrival_airport.code" label="Arrival Airport Code"/>
          </div>
          <div class="col-12 col-md-6">
            <q-input v-model="segment.arrival_airport.name" label="Arrival Airport Name"/>
          </div>
          <div class="col-12 col-md-6">
            <q-input v-model="segment.departure_datetime" label="Departure At"/>
          </div>
          <div class="col-12 col-md-6">
            <q-input v-model="segment.arrival_datetime" label="Arrival At"/>
          </div>
        </div>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat @click="close">
          <span>Close</span>
        </q-btn>
        <q-btn flat @click="update"
               :loading="processes.updating.in_progress"
               color="primary">
          <span>Save</span>
        </q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script>
import cloneDeep from 'lodash/cloneDeep'
export default {
  props: {
  },
  data () {
    return {
      showed: false,
      segment: {},
      route_type: null,
      processes: {
        updating: {
          in_progress: false
        }
      }
    }
  },
  methods: {
    open (segment) {
      this.segment = cloneDeep(segment)
      this.showed = true
    },
    close () {
      this.showed = false
      this.segment = {}
    },
    async update () {
      let process = this.processes.updating
      if (process.in_progress) return
      process.in_progress = true
      const service = new this.$services.BookingService(this)
      const response = await service.update_flight_segment(this.segment)
      if (response.status === 200) {
        this.$emit('updated', response.data)
        this.$notify({
          type: 'positive',
          message:'Segment updated'
        })
        this.close()
      }
      process.in_progress = false
    }
  }
}
</script>
