<template>
  <q-card flat bordered>
    <q-table
        dense
        hide-pagination
        flat bordered
        :rows="segments"
        row-key="id"
        :columns="columns"
    >
      <template v-slot:body="props">
        <q-tr :props="props" :key="`m_${props.row.index}`">
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <template v-if="col.field === 'departure'">
              <q-item-label class="row items-center q-gutter-sm">
                <q-icon name="location_on"/>
                <span>{{ props.row.departure_airport_code }}</span>
              </q-item-label>
              <div class="row items-center q-gutter-sm">
                <q-icon name="schedule"/>

                <datetime :modelValue="props.row.departure_datetime"/>
              </div>
            </template>
            <template v-else-if="col.field === 'arrival'">
              <div class="row items-center q-gutter-sm">
                <q-icon name="location_on"/>
                <span>{{ props.row.arrival_airport_code }}</span>
              </div>
              <div class="row items-center q-gutter-sm">
                <q-icon name="schedule"/>
                <datetime :modelValue="props.row.arrival_datetime"/>
              </div>
            </template>
            <template v-else-if="col.field=== 'baggage'">
              <span>Adult: {{ props.row.baggage || 'xx' }}kg</span>
            </template>
            <template v-else>
              {{ props.row[col.field] }}
            </template>
          </q-td>
        </q-tr>
      </template>
    </q-table>
    <edit-dialog ref="edit_dialog"
                 @updated="handle_updated"/>
  </q-card>
</template>
<script>
import EditDialog from './edit-dialog'
import Datetime from 'src/components/common/datetime'

export default {
  components: {EditDialog, Datetime},
  props: {
    value: {type: Array, required: true},
  },
  data () {
    return {
      columns: [
        {
          name: 'route',
          field: 'route',
          label: 'Route',
          align: 'left',
        },
        {
          name: 'flight_no',
          field: 'flight_no',
          label: 'Flight Number',
          align: 'left',
        },
        {
          name: 'cabin_class',
          field: 'cabin_class',
          label: 'Cabin Class',
          align: 'left'
        },
        {
          name: 'departure',
          field: 'departure',
          label: 'Departure',
          align: 'left',
        },
        {
          name: 'arrival',
          field: 'arrival',
          label: 'Arrival',
          align: 'left',
        },
        {
          name: 'baggage',
          field: 'baggage',
          label: 'Baggage',
          align: 'left',
        }
      ],
    }
  },
  computed: {
    segments () {
      return this.value.map(s => ({
        ...s,
        route: s.type === 'return' ? 'Return' : 'Departure'
      }))
    }
  },
  methods: {
    handle_updated (segment) {
      const index = this.value.findIndex(s => s.id === segment.id)
      if (index < 0) return
      Object.assign(this.value[index], segment)
    },
  }
}
</script>
