<template>
  <div style="position: relative">
    <q-carousel
      transition-prev="slide-right"
      transition-next="slide-left"
      swipeable infinite
      :arrows="show_arrows"
      animated
      v-model="carousel_value"
      :autoplay="5000"
      :style="`height: ${height_item}`"
      class="eg-rounded"
    >
      <q-carousel-slide :name="i" :key="i" v-for="(slide, i) in grouped_images(items_per_slide)"
                        style="padding: 0">
        <div class="row fit">
          <q-card
            :style="`width: ${100 / items_per_slide}%; position: relative`"
            v-for="(image, ii) in slide"
            :key="ii"
            flat
            class="full-height q-pa-xs eg-rounded"
          >
            <q-img
              width="100%"
              height="100%"
              :src="image.url"
            />
          <q-btn icon="delete" round color="red" class="absolute-top-right q-mt-sm q-mr-sm" size="sm"
                        @click="$emit('remove_image', image)" />
          </q-card>
        </div>
      </q-carousel-slide>
    </q-carousel>

  </div>
</template>

<script>

export default {
  props: {
    items_per_slide: {type: Number, default: 4},
    images: {type: Array, default: () => ([])},
    height_item: {type: String, default: '100%'},
    image_size: {type: String, default: 'large'},
    show_arrows: {type: Boolean}
  },
  setup (props, context) {
    const carousel_value = ref(0)

    const grouped_images = (per_slide) => {
      let result = []
      let group_count = Math.ceil(props.images.length / per_slide)
      Array.from(Array(group_count).keys()).forEach(n => {
        let slide = props.images.slice(n * per_slide, (n + 1) * per_slide)
        result.push(slide)
      })
      return result
    }

    const on_select_image = (image) => {
      const index = props.images.indexOf(image)
      if (index >= 0) carousel_value.value = index
    }

    return {
      carousel_value,
      grouped_images,
      on_select_image
    }
  },
}
</script>

<style lang="scss" scoped>
  .eg-images-slider-thumb {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    height: 60px;

    &__img {
      width: 70px;
      height: 40px;
      object-fit: cover;
      border-radius: 5px;
      border: 2px solid white!important;
      margin: 5px;

      &.active {
        border: 2px solid var(--q-color-primary)!important
      }
    }

    &::v-deep .q-btn--dense.q-btn--round .q-btn__wrapper {
      min-height: 20px;
      min-width: 20px;

      i {
        font-size: 20px;
      }
    }
  }
</style>
