<template>
  <q-dialog v-model="showed" persistent>
    <q-card style="width: 1100px; max-width: 99vw;">
      <q-item>
        <q-item-section>
          <q-item-label class="text-h6">Logging Details</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-btn dense flat round icon="close" @click="toggle"/>
        </q-item-section>
      </q-item>
      <q-separator/>
      <q-card-section>
        <div class="row q-col-gutter-sm">
          <div class="col-12 col-sm-6">
            <q-input
              readonly label="Tracing ID"
              :model-value="record.tracing_id"/>
          </div>
          <div class="col-12 col-sm-6">
            <q-input
              readonly label="Logging Type"
              :model-value="record.type"/>
          </div>
          <div class="col-12" v-for="key in Object.keys(record.meta)"
               :key="key">
            <q-input type="textarea"
                     readonly :label="key" 
                     autogrow :model-value="JSON.stringify(record.meta[key])"/>
          </div>
        </div>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn label="Close" flat @click="toggle"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script>
import {ref} from 'vue'

export default {
  setup () {
    const showed = ref(false)
    const record = ref(null)

    const toggle = (logging) => {
      if (showed.value) {
        // closing logic
        record.value = null
      } else {
        record.value = logging
      }
      showed.value = !showed.value
    }

    return {
      showed,
      record,

      toggle,
    }
  }
}
</script>
