<template>
  <q-popup-proxy v-model="showed" @before-show="handle_before_show">
    <q-card style="width: 400px; max-width: 90vw" v-if="showed">
      <q-form ref="form"
              @submit="submit"
              v-model="form_data.valid">
        <q-item>
          <q-item-section>
            <q-item-label class="text-h6">{{ label }}</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-btn flat dense icon="close"
                   round
                   @click="toggle"/>
          </q-item-section>
        </q-item>
        <q-card-section>
          <template v-if="type === 'datepicker'">
            <date-picker v-model="form_data.value"/>
          </template>
          <template v-else-if="type === 'select'">
            <q-select v-model="form_data.value"
                      :rules="rules"
                      dense
                      v-on="select_events"
                      v-bind="select_bind"/>
          </template>
          <template v-else-if="type === 'float'">
            <q-input v-model="form_data.value"
                     :rules="rules" step="any"
                     dense type="number"/>
          </template>
          <template v-else>
            <q-input v-model="form_data.value"
                     :rules="rules"
                     dense :type="type"/>
          </template>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancel" @click="toggle"/>
          <q-btn color="primary" label="Submit" type="submit"/>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-popup-proxy>
</template>
<script>
import {computed, reactive, ref} from 'vue'
import cloneDeep from 'lodash/cloneDeep'

import DatePicker from 'components/common/date-picker'

export default {
  components: {
    DatePicker
  },
  props: {
    modelValue: {type: [String, Object, Array, Number]},
    label: {type: String, required: true},
    type: {type: String, required: true},
    required: {type: Boolean, default: false},
    meta: {type: Object, default: () => ({})},
    rules: {type: Array, default: () => ([])},
  },
  setup (props, context) {
    const showed = ref(false)
    const form_data = reactive({
      valid: false,
      value: cloneDeep(props.modelValue),
    })
    const select_meta = reactive({
      fetching: false,
      options: props.meta.options || []
    })

    const toggle = () => {
      showed.value = !showed.value
    }

    const submit = () => {
      context.emit('update:modelValue', form_data.value)
      context.emit('submitted', form_data.value)
      toggle()
    }

    const handle_before_show = () => {
      form_data.value = cloneDeep(props.modelValue)
    }

    const select_bind = computed(() => {
      let result = {
        options: select_meta.options,
        loading: select_meta.fetching
      }

      const non_logic_attrs = [
        'option-value',
        'option-label',
        'emit-value',
        'map-options',
        'multiple',
        'use-input',
        'use-chips',
        'hide-dropdown-icon',
        'new-value-mode'
      ]

      non_logic_attrs.forEach(k => {
        const v = props.meta[k]
        if (v !== undefined) {
          result[k] = v
        }
      })

      return result
    })

    const select_events = computed(() => {
      let result = {}
      if (props.meta.async_function) {
        result['filter'] = async (search, update, abort) => {
          select_meta.options = await props.meta.async_function()
          update()
        }
      }
      return result
    })

    const datepicker_bind = {}

    return {
      showed,
      form_data,
      select_bind,
      select_events,
      toggle,
      submit,
      handle_before_show,
    }
  }
}
</script>
