<template>
  <q-card flat>
    <q-item>
      <q-item-section avatar>
        <q-btn round
               :to="back_to"
               outline icon="west"></q-btn>
      </q-item-section>
      <q-item-section>
        <q-item-label class="text-subtitle1 text-weight-bold">{{ booking.product?.pnr ? booking.product.pnr : "" }}</q-item-label>
        <q-item-label>
          <div class="row q-gutter-xs">
            <q-btn color="primary"
                   disable
                   size="xs" @click="download_json">
              <q-icon name="code" class="q-mr-xs"/>
              <span>JSON</span>
            </q-btn>
            <q-btn size="xs" disable
                    v-if="!booking.is_canceled"
                    :loading="processes.resending.in_progress"
                    color="primary">
              <q-icon name="email" class="q-mr-xs"/>
              <span>Send Email</span>
              <q-menu>
                <q-list style="min-width: 100px" dense>
                  <q-item clickable v-close-popup
                          @click="send_mail(scenario)"
                          v-for="scenario in scenarios" :key="scenario">
                    <q-item-section>{{ scenario }}</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
            <q-space />
          </div>
        </q-item-label>
      </q-item-section>
    </q-item>
    <q-separator/>
    <template v-if="processes.fetching.in_progress">
      <q-card-actions align="center">
        <q-spinner color="primary" size="md"/>
      </q-card-actions>
    </template>
    <template v-else>
      <q-tabs v-model="tab_id" no-caps
              align="left" inline-label
              active-color="primary">
        <q-tab v-for="tab in tabs"
               :name="tab.id"
               :key="tab.id">
          <span class="text-weight-medium">{{ tab.label }}</span>
        </q-tab>
      </q-tabs>
      <q-separator/>
      <template v-if="tab_id === 'products'">
        <products :booking_product="booking"
                  :status="booking.status" />
      </template>
      <template v-if="tab_id === 'payment'">
        <payment :payment_id="booking.payment_id"/>
      </template>
      <template v-if="tab_id === 'contacts'">
        <contacts v-model="booking.contact"
                  :booking_id="booking.id"/>
      </template>
    </template>
  </q-card>
</template>
<script>
import {ref, watch, onBeforeMount, reactive} from 'vue'
import {useRoute, useRouter} from 'vue-router'
import {useStore} from 'vuex'
import {useQuasar} from 'quasar'

import {use_api} from 'src/composibles/api'

import Products from './products'
import Payment from './payment'
import Contacts from './contacts'

export default {
  components: {
    Products,
    Payment,
    Contacts
  },
  props: {
    id: {type: String, required: true},
    back_to: {type: Object, required: true}
  },
  setup (props) {
    const $q = useQuasar()
    const router = useRouter()
    const route = useRoute()
    const api = use_api()
    const store = useStore()

    const booking = ref({})

    const processes = reactive({
      fetching: {
        in_progress: false,
        error: null,
        error_message: null
      },
      resending: {
        in_progress: false
      },
      canceling: {
        in_progress: false
      }
    })

    const fetch = async () => {
      let process = processes.fetching
      process.in_progress = true
      const response = await api.get_booking({id: props.id})
      if (response.status === 200) {
        booking.value = response.data
      } else {
        process.error = response.data.error
        process.error_message = response.data.error_message
      }
      process.in_progress = false
    }

    const tabs = [
      {
        id: 'products',
        label: 'Products'
      },
      {
        id: 'payment',
        label: 'Payment'
      },
      {
        id: 'contacts',
        label: 'Contacts'
      },
    ]

    const tab_id = ref(route.query.tab || tabs[0].id)

    watch(
      tab_id,
      () => {
        router.push({ query: { tab: tab_id.value } })
      }
    )

    onBeforeMount(fetch)

    const download_json = () => {
      window.open(booking.value.json_url)
    }

    const send_mail = async (scenario) => {
      // let process = processes.resending
      // if (process.in_progress) return
      // if (!window.confirm('Are you sure?')) return
      // process.in_progress = true
      // const response = await api.send_booking_mail({
      //   booking_code: booking.value.code,
      //   scenario: scenario
      // })
      // if (response.status === 200) {
      //   $q.notify({
      //     message:'Resend successfully!',
      //     type: 'positive'
      //   })
      // }
      // process.in_progress = false
    }

    return {
      tabs,
      tab_id,
      booking,
      processes,
      scenarios: store.state.Context.booking_scenarios || [],
      download_json,
      send_mail
    }

  }
}
</script>
