<template>
  <q-dialog
      v-model="showed"
  >
    <q-card style="width: 700px; max-width: 80vw;">
      <q-item>
        <q-item-section>
          <q-item-label class="text-h6">Create Eticket</q-item-label>
        </q-item-section>
      </q-item>
      <q-separator/>
      <q-form @submit="create">
        <q-card-section>
          <div class="row items-center q-col-gutter-sm">
            <div class="col-12">
              <pax-select label="Passenger" outlined dense
                          :rules="form_data.rules.pax"
                          :booking_code="booking_code"
                          v-model="form_data.values.pax"/>
            </div>
            <div class="col-12">
              <q-input v-model="form_data.values.no"
                       hide-bottom-space outlined dense
                       :rules="form_data.rules.no"
                       label="Eticket Number"/>
            </div>
          </div>
        </q-card-section>
        <q-card-section>
          <div class="row items-center q-gutter-sm">
            <q-space/>
            <q-btn flat @click="close" size="sm">
              <span>Close</span>
            </q-btn>
            <q-btn size="sm"
                   type="submit"
                   :loading="processes.creating.in_progress"
                   color="primary">
              <span>Submit</span>
            </q-btn>
          </div>
        </q-card-section>
      </q-form>
    </q-card>
  </q-dialog>
</template>
<script>
const init_form_values = () => ({
  no: '',
  pax: null,
})

import PaxSelect from 'src/components/booking/traveler/select'
import {use_api} from 'src/composibles/api'
import {ref, reactive} from 'vue'
import {useQuasar} from 'quasar'

export default {
  components: {PaxSelect},
  props: {
    booking_product: {type: Object, required: true},
    booking_code: {type: String}
  },
  setup (props, context) {
    const $q = useQuasar()
    const api = use_api()
    const showed = ref(false)
    const form_data = reactive({
      values: init_form_values(),
      rules: {
        no: [v => (!!v && !!v.trim()) || 'Required'],
        pax: [v => !!v || 'Required'],
      }
    })
    const processes = reactive({
      creating: {
        in_progress: false
      }
    })

    const open = () => {
      showed.value = true
    }

    const close = () => {
      showed.value = false
      form_data.values = init_form_values()
    }

    const create = async () => {
      let process = processes.creating
      if (process.in_progress) return
      process.in_progress = true
      const response = await api.create_flight_eticket({
        booking_product_id: props.booking_product.id,
        no: form_data.values.no,
        pax_id: form_data.values.pax.id
      })
      if (response.status === 200) {
        context.emit('created', response.data)
        $q.notify({
          color: 'green',
          message: 'Eticket created'
        })
        close()
      }
      process.in_progress = false
    }

    return {
      showed,
      form_data,
      processes,
      open,
      close,
      create
    }
  },
}
</script>
