<template>
  <q-dialog
      v-model="showed"
  >
    <q-card style="width: 700px; max-width: 80vw;" v-if="data.id">
      <q-item>
        <q-item-section>
          <q-item-label>
            <div class="text-h6">Update Eticket</div>
          </q-item-label>
        </q-item-section>
      </q-item>
      <q-separator/>
      <q-card-section>
        <div class="row q-col-gutter-sm">
          <div class="col-12">
            <pax-select label="Passenger" outlined dense
                        :booking_id="booking_product.booking_id"
                        v-model="data.pax"/>
          </div>
          <div class="col-12">
            <q-input v-model="data.no"
                     outlined dense
                     label="Eticket Number"/>
          </div>
        </div>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat @click="close">
          <span>Close</span>
        </q-btn>
        <q-btn flat @click="update"
               :loading="processes.updating.in_progress"
               color="primary">
          <span>Save</span>
        </q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script>
import cloneDeep from 'lodash/cloneDeep'
import PaxSelect from 'src/components/booking/traveler/select'
import {ref, reactive} from 'vue'
import {use_api} from 'src/composibles/api'

export default {
  components: {PaxSelect},
  props: {
    booking_product: {type: Object, required: true}
  },
  setup (props, context) {
    const api = use_api()
    const showed = ref(false)
    const data = ref({
      id: null,
    })
    const processes = reactive({
      updating: {
        in_progress: false,
      },
    })

    const open = (data) => {
      data.value = cloneDeep(data)
      showed.value = true
    }

    const close = () => {
      showed.value = false
      data.value = {}
    }

    const update = async () => {
      let process = processes.updating
      if (process.in_progress) return
      process.in_progress = true
      let payload = {
        id: data.value.id,
        no: data.value.no,
        pax_id: data.value.pax.id
      }
      const response = await api.update_flight_eticket(payload)
      if (response.status === 200) {
        context.emit('updated', response.data)
        $q.notify({
          type: 'positive',
          message:'Eticket updated'
        })
        close()
      }
      process.in_progress = false
    }

    return {
      showed,
      data,
      processes,
      open,
      close,
      update
    }
  },
}
</script>
