<template>
  <div>
    <q-table
        dense hide-pagination
        flat bordered
        :rows="etickets"
        row-key="id"
        :columns="columns"
        v-model:pagination="pagination"
        :loading="processes.listing.in_progress"
    >
      <template v-slot:header-cell-actions="props">
        <q-th :props="props">
          <q-btn flat size="sm" dense no-caps disable
                 @click="$refs.create_dialog.open()"
                 color="primary">New Ticket</q-btn>
        </q-th>
      </template>
      <template v-slot:body-cell-actions="props">
        <q-td :props="props">
          <q-btn size="xs"
                 round
                 @click="$refs.event_dialog.open({object_id: props.row.id, object_type: 'FlightEticket'})"
                 flat color="primary"
                 icon="history">
            <q-tooltip>
              History
            </q-tooltip>
          </q-btn>
          <q-btn round size="xs" flat
                 icon="edit"
                 @click="$refs.edit_dialog.open(props.row)"
                 color="primary"/>
        </q-td>
      </template>
      <template v-slot:body-cell-pax="props">
        <q-td :props="props">
          <q-item-section v-if="props.row.pax">
            <q-item-label>{{`${props.row.pax.first_name} ${props.row.pax.last_name}`}}</q-item-label>
          </q-item-section>
        </q-td>
      </template>
    </q-table>
    <create-dialog @created="list"
                   :booking_product="booking_product"
        ref="create_dialog"/>
    <edit-dialog :booking_product="booking_product"
        @updated="list"
        ref="edit_dialog"/>
    <event-dialog
        ref="event_dialog"/>
  </div>
</template>
<script>
import EventDialog from 'src/components/events/dialog'
import EditDialog from './edit-dialog'
import CreateDialog from './create-dialog'
import {computed ,ref ,reactive, onBeforeMount} from 'vue'
import {use_api} from 'src/composibles/api'

export default {
  components: {
    EventDialog,
    CreateDialog,
    EditDialog,
  },
  props: {
    booking_product: {type: Object, required: true},
  },
  setup (props, context) {
    const api = use_api()

    const columns = computed(() => ([
      {
        name: 'no',
        field: 'no',
        label: 'E-Ticket Number',
        align: 'left',
      },
      {
        name: 'pax',
        field: 'pax',
        label: 'Passenger',
        align: 'left',
      },
      {
        name: 'actions',
        field: 'actions',
        label: '',
        align: 'right',
      },
    ]))
    const etickets = ref([])
    const pagination = ref({
      sortBy: 'created_at',
      descending: true,
      page: 1,
      rowsPerPage: 20,
      rowsNumber: 0
    })
    const processes = reactive({
      listing: {
        in_progress: false
      }
    })

    const list = async () => {
      let process = processes.listing
      if (process.in_progress) return
      process.in_progress = true
      etickets.value = props.booking_product.data ? 
                [props.booking_product.data] : []
      // pagination.value.rowsNumber = props.booking_product.data ? 
      //           props.booking_product.data.length() : 0  

      process.in_progress = false
    }

    onBeforeMount(() => {
      list()
    })

    return {
      columns,
      etickets,
      pagination,
      processes,
      list
    }
  },
}
</script>
