<template>
  <table-filter v-model="filters.value"
                :fields="filters.options"/>
  <q-separator/>
  <q-table
    :columns="columns"
    :rows="records"
    v-model:pagination="pagination"
    @request="handle_pagination_changed"
    :loading="processes.listing.in_progress"
    binary-state-sort
    row-key="id"
    dense>
    <template v-slot:body-cell-created_at="props">
      <q-td :props="props">
        <datetime :modelValue="props.row.created_at"/>
      </q-td>
    </template>
    <template v-slot:body-cell-pnr="props">
      <q-td :props="props">
        <router-link :to="get_redirect(props.row.id)">
          {{ props.row.product.pnr }}
        </router-link>
      </q-td>
    </template>
    <template v-slot:body-cell-host_pnr="props">
      <q-td :props="props">
        <span>{{ props.row.product.pnr_data?.host_pnr }}</span>
      </q-td>
    </template>
    <template v-slot:body-cell-products="props">
      <q-td :props="props">
        <product-status :product_code="props.row.product_code"
                        :status="props.row.status ? props.row.status: 'failed'"/>
      </q-td>
    </template>
    <template v-slot:body-cell-contact="props">
      <q-td :props="props">
        <q-item-section>
          <q-item-label>
            <b>Email:</b> <span>{{ props.row.contact.email }}</span>
          </q-item-label>
          <q-item-label>
            <b>Phone:</b> <span>{{ props.row.contact.phone }}</span>
          </q-item-label>
        </q-item-section>
      </q-td>
    </template>
  </q-table>
</template>
<script>
import {ref, reactive, watch, computed} from 'vue'
import {useQuasar} from 'quasar'
import debounce from 'lodash/debounce'

import {use_api} from 'src/composibles/api'

import TableFilter from 'src/components/common/table-filter'
import Datetime from 'src/components/common/datetime'
import ProductStatus from 'src/components/booking/detail/products/status'

export default {
  components: {
    TableFilter,
    Datetime,
    ProductStatus,
  },
  setup (props) {
    const api = use_api()
    const $q = useQuasar()

    const records = ref([])

    const columns = computed(() => {
      let result = [
        {
          name: 'pnr',
          field: 'pnr',
          label: 'PNR',
          align: 'left',
        },
         {
          name: 'host_pnr',
          field: 'host_pnr',
          label: 'Host PNR',
          align: 'left',
        },
        {
          name: 'products',
          field: 'products',
          label: 'Products',
          align: 'left',
        },
        {
          name: 'order_id',
          field: 'order_id',
          label: 'Order ID',
          align: 'left',
          sortable: true
        },
        {
          name: 'order_number',
          field: 'order_number',
          label: 'Order Number',
          align: 'left',
          sortable: true
        },
        {
          name: 'contact',
          field: 'contact',
          label: 'Contact',
          align: 'left',
        },
        {
          name: 'created_at',
          field: 'created_at',
          label: 'Booking Date',
          align: 'left',
          sortable: true
        },
      ]

      return result
    })
    const pagination = ref({
      sortBy: 'created_at',
      descending: true,
      page: 1,
      rowsPerPage: 25,
      rowsNumber: 0
    })
    const filters = reactive({
      value: {},
      options: [
        {
          name: 'search_text',
          label: 'Search',
          default: true,
          type: 'textinput'
        },
        {
          name: 'created_before',
          label: 'Released before',
          type: 'date'
        },
        {
          name: 'created_after',
          label: 'Released after',
          type: 'date'
        }
      ]
    })

    const processes = reactive({
      listing: {
        in_progress: false
      },
      updating: {
        in_progress: false
      }
    })

    const list_records = async () => {
      let process = processes.listing
      process.in_progress = true
      let payload = {
        ...filters.value,
        page: pagination.value.page,
        per_page: pagination.value.rowsPerPage,
        sorts: `${pagination.value.descending ? '-' : '+'}${pagination.value.sortBy}`
      }
      const response = await api.list_bookings(payload)
      if (response.status === 200) {
        records.value = response.data.result
        pagination.value.rowsNumber = response.data.total
      }
      process.in_progress = false
    }

    const update = async (record, key) => {
      let process = processes.updating
      process.in_progress = true
      process.error = null

      const response = await api.update_booking({
        id: record.id,
        [key]: record[key]
      })
      if (response.status === 200) {
        $q.notify({
          type: 'positive',
          message: 'Booking updated!'
        })
      } else {
        process.error = response.data.error
        process.error_message = response.data.message
      }
      process.in_progress = false
    }

    const filter_records = debounce(list_records, 500)

    watch(
      () => filters.value,
      () => {
        filter_records()
      }
    )

    const get_redirect = (id) => {
      let result = {
        name: 'main.booking',
        params: {
          id,
        }
      }
      return result
    }

    return {
      records,
      columns,
      filters,
      pagination,
      processes,
      update,
      get_redirect,
      handle_updated: (record) => {
        const index = records.value.findIndex(v => v.id === record.id)
        if (index >= 0) Object.assign(records.value[index], record)
      },
      handle_pagination_changed: (props) => {
        pagination.value = props.pagination
        filter_records()
      }
    }
  }
}
</script>
