<template>
  <template v-if="fetching_products.in_progress">
    <q-card-actions align="center">
      <q-spinner size="md" color="primary"/>
    </q-card-actions>
  </template>
  <template v-else>
    <q-separator/>
    <div class="row q-col-gutter-md q-pt-sm">
      <div class="col-12">
        <q-card flat bordered>
          <q-item>
            <q-item-section>
              <q-item-label>
                <status product_code="flight" class="q-ma-none"
                        :status="status"/>
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-item-label>
                <div class="row q-gutter-xs">
                  <q-btn
                    dense flat
                    size="sm"
                    color="primary"
                    no-caps
                    @click="trace_logs(booking_product)"
                  >Logs
                  </q-btn>
                  <q-btn
                    dense flat
                    size="sm"
                    color="primary"
                    no-caps disable
                    @click="download_pdf(bp)"
                  >PDF
                  </q-btn>
                  <q-btn
                    dense flat
                    size="sm"
                    color="primary"
                    no-caps
                    @click="$refs.edit_product_dialog.open(booking_product)"
                  >Edit
                  </q-btn>
                  <div v-if="show_cancel">
                    <q-btn v-if="showed"
                          class="q-px-md"
                          size="sm"
                          color="purple"
                          no-caps
                          @click="cancel_product(bp.id)"
                    >Cancel Product
                    </q-btn>
                  </div>
                </div>
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-separator/>
          <flight :product="booking_product.product" />
          <q-separator/>
          <q-item>
            <q-item-section>
              <q-item-label class="text-h6">Travelers</q-item-label>
            </q-item-section>
          </q-item>
          <traveler-table
            :booking_product="booking_product.travelers"/>
          <q-separator/>
          <q-card-section>
            <prices :booking_product="booking_product.product"
                    scope_type="BookingProduct"/>
          </q-card-section>
        </q-card>
      </div>
      <edit-dialog
        ref="edit_product_dialog"
        @updated="fetch_products"
        :booking_product="booking_product"
      />
    </div>
  </template>
</template>
<script>
import {reactive, ref, onBeforeMount, computed} from 'vue'
import {useRouter} from 'vue-router'

import {use_api} from 'src/composibles/api'

import Prices from '../prices'
import TravelerTable from '../../traveler/table'
import Flight from './flight'
import EditDialog from './edit-dialog'
import Status from './status'
import {useQuasar} from 'quasar'
import {useStore} from 'vuex'

export default {
  components: {
    Flight,
    Prices,
    TravelerTable,
    Status,
    EditDialog
  },
  props: {
    booking_product: {type: Object, required: true},
    status: {type: String, required: true},
  },
  setup (props) {
    const $q = useQuasar()
    const api = use_api()
    const router = useRouter()
    const showed = ref(true)
    const store = useStore()
    const show_cancel = ref(false)

    const fetching_products = reactive({
      in_progress: false,
      error: null
    })

    const processes = reactive({
      canceling: {
        in_progress: false
      }
    })

    const products = ref([])

    const fetch_products = async () => {
      fetching_products.in_progress = true
      products.value = props.booking_product.product
      fetching_products.in_progress = false
    }

    const is_cancel = (data) => {
      if (data != 'success') {
        showed.value = false
      } else {
        showed.value = true
      }
    }

    const get_products = () => {
      return products.value
    }

    const download_pdf = (bp) => {
      window.open(bp.pdf_url)
    }

    const trace_logs = (bp) => {
      const tracing_id = bp.product.prebook_id
      const route_data = {
        name: 'main.loggings',
        query: {
          tracing_ids: tracing_id
        }
      }
      window.open(router.resolve(route_data).href)
    }

    const cancel_product = async (product_id) => {
      let process = processes.canceling
      if (process.in_progress) return
      if (!window.confirm('Are you sure to CANCEL this booking product?')) return

      process.in_progress = true

      const response = await api.cancel_booking_product({
        booking_id: props.booking_id,
        product_id: product_id
      })
      if (response.status === 200) {
        $q.notify({
          color: 'purple',
          type: 'positive',
          message: 'Product canceled!'
        })
        window.location.reload()
      }
      process.in_progress = false
    }

    onBeforeMount(async () => {
      let auth = store.state.Auth.roles;
      if (auth && auth[0])
      {
        if(auth[0].scope_type === 'Admin' || auth[0].scope_type === 'Maintainer'){
          show_cancel.value= true
        } else {
          show_cancel.value = false
        }
      }
      await fetch_products()
    })

    return {
      fetching_products,
      products,
      get_products,
      fetch_products,
      download_pdf,
      trace_logs,
      cancel_product,
      is_cancel,
      show_cancel,
      showed
    }
  }
}
</script>
