<template>
  <q-timeline-entry
      :color="action.color"
      side="left">
    <template v-slot:subtitle>
      <div>
        <datetime :value="value.created_at"/>
      </div>
    </template>
    <template v-slot:title>
      <div class="text-subtitle2 row">
        <q-chip size="md" class="q-ml-none" square>{{ value.object_type }}</q-chip>
        <q-chip size="md" class="q-ml-none"
                text-color="white"
                square :color="action.color">{{ action.name }}</q-chip>
      </div>
      <div class="text-caption text-grey" v-if="value.creator_id">
        <span>{{ `By ${value.creator.email}` }}</span>
      </div>
    </template>
    <changes :value="value.changes"/>
  </q-timeline-entry>
</template>
<script>
import {useStore} from 'vuex'
import {computed} from 'vue'
import Changes from '../../changes'

export default {
  components: {Changes},
  props: {
    value: {type: Object, required: true}
  },
  setup (props) {
    const store = useStore()
    const action = computed(() => {
      return store.state.Context.event_actions.find(ea => ea.id === props.value.action)
    })

    return action
  },
}
</script>
