<template>
  <q-page>
    <q-card flat bordered>
      <q-item>
        <q-item-section side>
          <q-icon name="bookmarks"/>
        </q-item-section>
        <q-item-section>
          <q-item-label class="text-h6">Bookings</q-item-label>
        </q-item-section>
      </q-item>
      <q-separator/>
      <booking-table ref="table"/>
    </q-card>
  </q-page>
</template>
<script>
import {ref} from 'vue'

import BookingTable from 'components/booking/table'

export default {
  components: {
    BookingTable
  },
  setup () {
    const table = ref(null)

    return {
      table,
      handle_created: (record) => {
        table.value.insert_record(record)
      }
    }
  }
}
</script>
