<template>
  <q-drawer
    v-model="showed"
    :width="250"
    :breakpoint="500"
    overlay behavior="mobile"
  >
    <q-scroll-area class="fit">
      <q-list>
        <q-item clickable :to="{name: route.name}"
                v-ripple v-for="route in routes"
                :key="route.name">
          <q-item-section avatar>
            <q-icon :name="route.icon"/>
          </q-item-section>
          <q-item-section>
            {{route.label}}
          </q-item-section>
        </q-item>
        <q-separator/>
        <q-item clickable>
          <q-item-section avatar>
            <q-icon name="person_outline"/>
          </q-item-section>
          <q-item-section>
            Account Panel
          </q-item-section>
        </q-item>
        <q-item clickable @click="logout">
          <q-item-section avatar>
            <q-icon name="logout"/>
          </q-item-section>
          <q-item-section>
            Logout
          </q-item-section>
        </q-item>
      </q-list>
    </q-scroll-area>
  </q-drawer>
</template>
<script>
import {ref} from 'vue'
import {useStore} from 'vuex'
import {useRouter} from 'vue-router'

export default {
  setup () {
    const showed = ref(false)
    const store = useStore()
    const router = useRouter()

    const routes = [
      {
        'name': 'main.bookings',
        'label': 'All Bookings',
        'icon': 'bookmarks'
      },
      {
        'name': 'main.suppliers',
        'label': 'Suppliers',
        'icon': 'settings_input_component'
      },
      {
        'name': 'main.iam',
        'label': 'IAM',
        'icon': 'admin_panel_settings'
      },
      {
        'name': 'main.loggings',
        'label': 'Loggings',
        'icon': 'manage_search'
      },
      // {
      //   'name': 'main.markups',
      //   'label': 'Markups',
      //   'icon': 'keyboard_double_arrow_up',
      //   'disable': true
      // }
    ]

    const toggle = () => {
      showed.value = !showed.value
    }

    const logout = () => {
      store.commit('Auth/signed_out')
      return router.push({name: 'auth'})
    }

    let auth = store.state.Auth.roles;
    if (auth && auth[0])
    {
      if(auth[0].scope_type == 'Maintainer'){
        routes = routes
      }else if(auth[0].scope_type == 'Admin'){
        routes = routes
      }
    }
    return {showed, routes, toggle, logout}
  }
}
</script>
