<template>
  <q-timeline color="secondary">
    <template v-if="processes.listing.in_progress">
      <div class="row items-center justify-center text-center">
        <q-spinner size="sm"/>
      </div>
    </template>
    <template v-else>
      <template v-if="events.length">
        <item v-for="event in events" :key="event.id" :value="event"/>
      </template>
      <template v-else>
        <div class="row items-center justify-center text-center">
          <span class="text-caption text-grey">No events found</span>
        </div>
      </template>
    </template>
  </q-timeline>
</template>
<script>
import {ref, reactive, onBeforeMount} from 'vue'
import {use_api} from 'src/composibles/api'

import Item from './item'

export default {
  components: {
    Item,
  },
  props: {
    action: {type: String},
    object_id: {type: String},
    object_type: {type: String, required: true},
  },
  setup (props, context) {
    const api = use_api()
    const processes = reactive({
      listing: {
        in_progress: false
      }
    })
    const events = ref([])

    const list = async () => {
      let process = processes.listing
      if (process.in_progress) return
      process.in_progress = true
      const response = await api.list_events({
        object_id: props.object_id,
        object_type: props.object_type,
        action: props.action,
      })
      if (response.status === 200) {
        events.value = response.data.result
      }
      process.in_progress = false
    }

    onBeforeMount(() => {
      list()
    })

    return {
      processes,
      events
    }
  },
}
</script>
