<template>
  <div class="row items-center q-col-gutter-sm">
    <div class="col-12">
      <q-card flat bordered>
        <q-item>
          <q-item-section>
            <q-item-label class="text-subtitle1 text-weight-medium">
              Information
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-separator/>
        <q-card-section>
          <information :value="value" :readonly="readonly"/>
        </q-card-section>
      </q-card>
    </div>
    <div v-if="value.segments && value.segments.filter(s => s.type === 'departure').length" class="col-12">
      <div class="row q-col-gutter-sm">
        <div
          class="col-12"
          v-for="(segment, index) in value.segments.filter(s => s.type === 'departure')"
          :key="index">
          <q-card flat bordered>
            <q-item>
              <q-item-section>
                <q-item-label>Departure Segments #{{ index + 1 }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-separator/>
            <q-card-section>
              <segment class="q-my-xs" :segment="segment" :readonly="readonly"/>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
    <div v-if="value.segments && value.segments.filter(s => s.type === 'return').length" class="col-12">
      <div class="row q-col-gutter-sm">
        <div
          class="col-12"
          v-for="(segment, index) in value.segments.filter(s => s.type === 'return')"
          :key="index">
          <q-card flat bordered>
            <q-item>
              <q-item-section>
                <q-item-label>Return Segments #{{ index + 1 }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-separator/>
            <q-card-section>
              <segment class="q-my-xs" :segment="segment" :readonly="readonly"/>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Information from './information'
import Segment from './segment'

export default {
  components: {
    Information,
    Segment
  },
  props: {
    value: {type: Object, required: true},
    readonly: {type: Boolean, default: false}
  }
}
</script>
