<template>
    <div class="row items-center q-col-gutter-sm">
        <div class="col-12">
            <q-input
                v-if="value.departure_airport"
                label="Departure Airport"
                outlined
                dense
                hide-bottom-space
                :readonly="readonly"
                v-model="value.departure_airport.name"
            />
        </div>
        <div class="col-12">
            <q-input
                v-if="value.arrival_airport"
                label="Arrival Airport"
                outlined
                dense
                hide-bottom-space
                :readonly="readonly"
                v-model="value.arrival_airport.name"
            />
        </div>
        <div class="col-12 col-sm-6">
            <q-input label="Departure Date"
                dense outlined
                :readonly="readonly"
                type="datetime"
                hide-bottom-space
                v-model="value.departure_datetime"
            />
        </div>
        <div class="col-12 col-sm-6">
            <q-input label="Return Date"
                dense outlined
                :readonly="readonly"
                type="datetime"
                hide-bottom-space
                v-model="value.return_datetime"
            />
        </div>
        <div class="col-12 col-sm-6">
            <q-input
                readonly
                label="Cabin Class"
                outlined
                dense
                hide-bottom-space
                v-model="value.fare.cabin_class"
            ></q-input>
        </div>
        <div class="col-12 col-sm-6">
            <q-input
                readonly
                label="Provider"
                outlined
                dense
                hide-bottom-space
                v-model="value.supplier_code"
            >
            </q-input>
        </div>
         <div class="col-12 col-sm-6">
            <q-input
                label="PNR"
                outlined
                dense
                hide-bottom-space
                v-model="value.pnr"
                v-if="value.pnr"
                :readonly="readonly"
            >
            </q-input>
        </div>
    </div>
</template>
<script>

export default {
  props: {
    value: {type: Object, required: true},
    readonly: {type: Boolean, default: false}
  },
}
</script>
