<template>
    <div class="col-12">
        <div class="row items-center q-col-gutter-sm">
            <div class="col-12 col-md-6">
                <q-input outlined dense
                    label="Flight Number"
                    v-model="segment.flight_no"
                    :readonly="readonly"
                />
            </div>
            <div class="col-12 col-md-6">
                <q-input outlined dense
                    label="Cabin Class"
                    v-model="segment.cabin_class"
                    :readonly="readonly"
                />
            </div>
            <div class="col-12 col-md-6">
                <q-input outlined dense
                    label="Departure Airport Code"
                    v-model="segment.departure_airport_code"
                    :readonly="readonly"
                />
            </div>
            <div class="col-12 col-md-6">
                <q-input outlined dense
                    label="Arrival Airport Code"
                    v-model="segment.arrival_airport_code"
                    :readonly="readonly"
                />
            </div>
            <div class="col-12 col-sm-6">
                <q-input label="Departure At"
                    dense outlined
                    :readonly="readonly"
                    hide-bottom-space
                    v-model="segment.departure_datetime"
                />
            </div>
            <div class="col-12 col-sm-6">
                <q-input label="Arrival At"
                    dense outlined
                    :readonly="readonly"
                    hide-bottom-space
                    v-model="segment.arrival_datetime"
                />
            </div>
        </div>
    </div>
</template>
<script>

export default {
  props: {
    readonly: {type: Boolean, default: false},
    segment: {type: Object, required: true}
  }
}
</script>
