<template>
  <q-card flat bordered>
    <q-item dense>
      <q-item-section>
        <q-item-label class="text-weight-medium">Credentials</q-item-label>
      </q-item-section>
    </q-item>
    <q-separator/>
    <q-card-section>
      <div class="row q-col-gutter-sm">
        <div class="col-12" v-for="field in fields" :key="field.id">
          <q-input v-model="form[field.id]" dense
                   :label="field.id"/>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>
<script>
import {computed, ref, onBeforeMount, watch} from 'vue'

export default {
  props: {
    modelValue: {type: Object, default: () => ({})},
    product_code: {type: String},
  },
  setup (props, context) {
    const form = ref({})
    const fields = computed(() => {
        return [
          {
            id: 'username',
            type: 'text'
          },
          {
            id: 'password',
            type: 'text'
          }
        ]
    })

    onBeforeMount(() => {
      const value = props.modelValue || {}
      fields.value.forEach(f => {
        form.value[f.id] = value[f.id] || null
      })
    })

    watch(
      form.value,
      () => {
        context.emit('update:modelValue', form.value)
      }
    )

    return {
      fields,
      form
    }

  }
}
</script>
