<template>
  <q-layout>
    <q-page-container>
      <q-page>
        <div class="column window-height">
          <div class="row justify-center q-my-auto">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
              <q-card>
                <q-toolbar
                  class="bg-primary shadow-2 rounded-borders text-white">
                  <q-toolbar-title>AirAsia Administrator</q-toolbar-title>
                </q-toolbar>
                <q-card-section>
                  <q-form @submit="authenticate" greedy>
                    <div class="row q-col-gutter-sm">
                      <div class="col-12">
                        <q-input
                          outlined dense
                          clearable
                          v-model="form.values.email"
                          label="Email"
                          :rules="form.rules.email"
                        >
                          <template v-slot:append>
                            <q-icon name="mdi-email"/>
                          </template>
                        </q-input>
                      </div>
                      <div class="col-12">
                        <q-input
                          outlined dense
                          type="password"
                          v-model="form.values.password"
                          label="Password"
                          :rules="form.rules.password"
                        >
                          <template v-slot:append>
                            <q-icon name="mdi-lock"/>
                          </template>
                        </q-input>
                      </div>
                      <div class="col-12"
                           v-if="processes.authenticating.error_code">
                        <q-chip outline color="red" square size="sm">
                          {{ processes.authenticating.error_code }}
                        </q-chip>
                      </div>
                      <div class="col-12">
                        <div class="row justify-end">
                          <q-btn label="Reset"
                                 type="reset"
                                 flat/>
                          <q-btn label="Submit"
                                 type="submit"
                                 :loading="processes.authenticating.in_progress"
                                 unelevated color="primary"/>
                        </div>
                      </div>
                    </div>
                  </q-form>
                </q-card-section>
              </q-card>
            </div>
          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>
<script>
import {reactive} from 'vue'
import {useRouter, useRoute} from "vue-router"

import {use_api} from 'src/composibles/api'
import {useStore} from 'vuex'

export default {
  setup () {
    const store = useStore()
    const route = useRoute()
    const router = useRouter()
    const api = use_api()

    const form = reactive({
      valid: false,
      values: {
        email: '',
        password: '',
      },
      rules: {
        email: [
          v => (!!v && !!v.trim()) || 'Required!'
        ],
        password: [
          v => (!!v && !!v.trim()) || 'Required!'
        ]
      }
    })

    const processes = reactive({
      authenticating: {
        in_progress: false,
        error_code: null,
        error_message: null
      }
    })

    const authenticate = async () => {
      let process = processes.authenticating
      if (process.in_progress) return
      process.in_progress = true
      process.error_code = null
      process.error_message = null

      const response = await api.authenticate(form.values)
      if (response.status === 200) {
        // success
        store.commit('Auth/signed_in', response.data)
        await router.push(route.query.callback || '/')
      } else {
        process.error_code = response.data.error
        process.error_message = response.data.message
      }
      process.in_progress = false
    }

    return {
      form,
      processes,
      authenticate
    }
  }
}
</script>
