<template>
  <q-header elevated>
    <q-toolbar>
      <q-btn flat round
             @click="$emit('menu_btn_clicked')"
             dense icon="menu"/>
      <q-toolbar-title>AirAsia Admin</q-toolbar-title>
    </q-toolbar>
  </q-header>
</template>
<script>
export default {
  setup () {

  }
}
</script>
