<template>
  <q-page>
    <q-card flat bordered>
      <q-item>
        <q-item-section side>
          <q-icon name="manage_search"/>
        </q-item-section>
        <q-item-section>
          <q-item-label className="text-h6">Loggings</q-item-label>
        </q-item-section>
      </q-item>
      <q-separator/>
      <logging-table :default_filters="default_filters"/>
    </q-card>
  </q-page>
</template>
<script>
import {useRoute} from 'vue-router'

import LoggingTable from 'components/logging/table'

export default {
  components: {
    LoggingTable
  },
  setup () {
    const route = useRoute()
    let default_filters = {}

    const tracing_ids = route.query.tracing_ids
    if (tracing_ids) default_filters.tracing_ids = tracing_ids.split(',')

    const types = route.query.types
    if (types) default_filters.types = types.split(',')

    return {
      default_filters
    }
  }
}
</script>
