<template>
  <q-page>
    <q-card flat bordered>
      <q-item>
        <q-item-section side>
          <q-icon name="admin_panel_settings"/>
        </q-item-section>
        <q-item-section>
          <q-item-label class="text-h6">IAM</q-item-label>
        </q-item-section>
        <q-item-section avatar>
          <q-btn color="primary"
                 @click="$refs.create_account.toggle()"
                 label="Create account" size="sm" no-caps
                 v-if="selected_tab_id === 'accounts'"/>
        </q-item-section>
      </q-item>
      <q-separator/>
      <q-tabs dense align="left" active-color="primary"
              v-model="selected_tab_id">
        <q-tab v-for="tab in tabs" no-caps
               :key="tab.id" :name="tab.id">{{ tab.label }}
        </q-tab>
      </q-tabs>
      <q-separator/>
      <template v-if="selected_tab_id === 'accounts'">
        <account-table ref="table"/>
      </template>
    </q-card>
    <create-dialog ref="create_account" @created="handle_created"/>
  </q-page>
</template>
<script>
import {ref} from 'vue'

import AccountTable from 'src/components/iam/account/table'
import CreateDialog from 'components/iam/account/dialogs/create'

export default {
  components: {
    AccountTable,
    CreateDialog,
  },
  setup () {
    const tabs = [
      {
        'id': 'accounts',
        'label': 'Accounts'
      },
    ]
    const selected_tab_id = ref(tabs[0].id)

    const table = ref(null)

    return {
      tabs,
      table,
      selected_tab_id,
      handle_created: (record) => {
        table.value.insert_record(record)
      }
    }
  }
}
</script>
