<template>
  <q-dialog v-model="showed" persistent>
    <q-card style="width: 500px; max-width: 99vw;">
      <q-item>
        <q-item-section>
          <q-item-label class="text-h6">Create Account</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-btn dense flat round icon="close" @click="toggle"/>
        </q-item-section>
      </q-item>
      <q-separator/>
      <q-card-section>
        <account-form v-model="form_data"
                       ref="form"/>
      </q-card-section>
      <q-card-section v-if="process.error">
        <q-item dark class="bg-negative">
          <q-item-section side>
            <q-icon name="error"/>
          </q-item-section>
          <q-item-section>
            <q-item-label caption>{{ process.error }}</q-item-label>
            <q-item-label class="text-weight-bold">
              {{ process.error_message || 'Ops! Something wrong happened.' }}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn label="Cancel" flat @click="toggle"/>
        <q-btn @click="create"
               :loading="process.in_progress"
               color="primary" label="Submit"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script>
import {ref, reactive} from 'vue'
import {useQuasar} from 'quasar'

import {use_api} from 'src/composibles/api'

import AccountForm from '../../form'

export default {
  components: {
    AccountForm
  },
  setup () {
    const api = use_api()
    const $q = useQuasar()
    const showed = ref(false)
    const form = ref(null)
    const form_data = ref({})
    const process = reactive({
      in_progress: false,
      error: null,
      error_message: null
    })

    const toggle = () => {
      if (showed.value) {
        // closing logic
        form_data.value = {}
      }
      showed.value = !showed.value
    }

    const create = async () => {
      if (!await form.value.validate()) return

      process.in_progress = true
      process.error = null
      const response = await api.create_account({
        ...form_data.value,
      })
      if (response.status === 200) {
        $q.notify({
          type: 'positive',
          message: 'Account created!'
        })
        toggle()
        window.location.reload()
      } else {
        process.error = response.data.error
        process.error_message = response.data.message
      }
      process.in_progress = false
    }

    return {
      showed,
      form,
      form_data,
      process,
      toggle,
      create,
    }
  }
}
</script>
