<template>
  <q-form v-model="form_data.valid" greedy
          ref="form"
          class="row q-col-gutter-sm">
    <div class="col-12 col-md-4">
      <div class="row q-col-gutter-sm">
        <div class="col-12">
          <q-img
            :ratio="1"
            :src="form_data.values.avatar ? form_data.values.avatar.url : default_image"
            style="border-radius: 50%; width: 100%">
            <div
              class="row items-center full-height full-width">
              <div class="col-12 text-center">
                <q-btn round size="md"
                       @click="$refs.file_picker.click()"
                       dense icon="edit" outline
                       color="white">
                </q-btn>
              </div>
            </div>
          </q-img>
        </div>
        <div class="col-12">
          <q-item-label caption>
            Max size is 5 MBs
          </q-item-label>
          <q-item-label caption>
            Image ratio should be 1 (500x500)
          </q-item-label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="row q-col-gutter-sm">
        <div class="col-12">
          <q-input v-model="form_data.values.first_name"
                   label="First name"
                   :rules="form_data.rules.first_name"
                   dense/>
        </div>
        <div class="col-12">
          <q-input v-model="form_data.values.last_name"
                   label="Last name"
                   :rules="form_data.rules.last_name"
                   dense/>
        </div>
        <div class="col-12">
          <q-input v-model="form_data.values.phone"
                   label="Phone"
                   :rules="form_data.rules.phone"
                   dense/>
        </div>
        <div class="col-12">
          <q-input v-model="form_data.values.email"
                   label="Email"
                   :rules="form_data.rules.email"
                   dense/>
        </div>
        <div class="col-12">
          <q-input v-model="form_data.values.secret_key"
                   label="Password"
                   :rules="form_data.rules.secret_key"
                   type="password"
                   dense/>
        </div>
        <div class="col-12">
          <q-input v-model="form_data.values.confirm_password"
                   label="Confirm password"
                   :rules="form_data.rules.confirm_password"
                   type="password"
                   dense/>
        </div>

      </div>
    </div>
    <input style="display: none"
           accept="image/*"
           @change="start_upload"
           type="file" ref="file_picker"/>
    <image-upload scope_type="System"
                  @uploaded="handle_image_uploaded"
                  ref="image_avatar"/>
  </q-form>
</template>
<script>
import {reactive, ref, watch} from 'vue'
import ImageUpload from 'src/components/common/media/images/upload-dialog'
import {validators} from 'src/utils'

export default {
  components: {
    ImageUpload
  },
  props: {
    modelValue: {type: Object, required: true},
  },
  setup (props, context) {
    const form = ref(null)
    const image_avatar = ref(null)
    const default_image = require('src/assets/images/default_image.png')

    const init_form_values = () => Object.assign({
      id: null,
      email: null,
      avatar: null,
      phone : null,
      first_name : null,
      last_name : null,
      secret_key: null,
      confirm_password: null
    }, props.modelValue)

    const form_data = reactive({
      valid: false,
      values: init_form_values(),
      rules: {
        email: [
          v => (!!v && !!v.trim()) || 'Required',
          v => validators.email(v) || 'Invalid'
        ],
        secret_key: [
          v => (!!v && !!v.trim()) || 'Required'
        ],
        first_name: [
          v => (!!v && !!v.trim()) || 'Required'
        ],
        last_name: [
          v => (!!v && !!v.trim()) || 'Required'
        ],
        phone: [
          v => (!!v && !!v.trim()) || 'Required',
          v => validators.number(v) || 'Invalid'
        ],
        confirm_password: [
          v => (!!v && !!v.trim()) || 'Required'
        ],
      }
    })

    const validate = () => {
      return form.value.validate()
    }

    const start_upload = $event => {
      let files = $event.target.files
      image_avatar.value.open(files)
    }

    const handle_image_uploaded = (image) => {
      form_data.values.avatar = image
    }

    watch(
      form_data.values,
      (result) => {
        context.emit('update:modelValue', result)
      }
    )

    return {
      image_avatar,
      form_data,
      form,
      default_image,
      validate,
      start_upload,
      handle_image_uploaded
    }
  }
}
</script>
