<template>
  <table-filter v-model="filters.value"
                :fields="filters.options"/>
  <q-separator/>
  <q-table
    flat
    :columns="columns"
    :rows="records"
    v-model:pagination="pagination"
    @request="handle_pagination_changed"
    :loading="processes.listing.in_progress"
    binary-state-sort
    row-key="id"
    dense>
    <template v-slot:body-cell-actions="props">
      <q-td :props="props">
        <q-btn dense round
               @click="$refs.update_dialog.toggle(props.row)"
               size="sm" color="primary"
               flat icon="edit"/>
        <q-btn dense round
               @click="remove(props.row)"
               :loading="processes.removing.in_progress.includes(props.row.id)"
               size="sm" color="red"
               flat icon="delete"/>
      </q-td>
    </template>
    <template v-slot:body-cell-created_at="props">
      <q-td :props="props">
        <datetime :modelValue="props.row.created_at"/>
      </q-td>
    </template>
  </q-table>
  <update-dialog
                 ref="update_dialog"
                 @updated="handle_update"/>
</template>
<script>
import {ref, reactive, watch} from 'vue'
import {useQuasar} from 'quasar'
import debounce from 'lodash/debounce'

import {use_api} from 'src/composibles/api'

import TableFilter from 'src/components/common/table-filter'
import UpdateDialog from 'components/supplier/dialogs/update'
import Datetime from 'src/components/common/datetime'

export default {
  components: {
    TableFilter,
    Datetime,
    UpdateDialog
  },
  props: {},
  setup (props) {
    const api = use_api()
    const $q = useQuasar()

    const records = ref([])

    const columns = [
      {
        name: 'name',
        field: 'name',
        label: 'Name',
        align: 'left',
        sortable: true
      },
      {
        name: 'env',
        field: 'env',
        label: 'Environment',
        align: 'left',
        sortable: true
      },
      {
        name: 'product_code',
        field: 'product_code',
        label: 'Product',
        align: 'left',
        sortable: true
      },
      {
        name: 'code',
        field: 'code',
        label: 'Code',
        align: 'left',
        sortable: true
      },
      {
        name: 'created_at',
        field: 'created_at',
        label: 'Created At',
        align: 'left',
        sortable: true
      },
      {
        name: 'actions',
        field: 'actions',
        label: '',
        align: 'right'
      }
    ]
    const pagination = ref({
      sortBy: 'created_at',
      descending: true,
      page: 1,
      rowsPerPage: 25,
      rowsNumber: 0
    })
    const filters = reactive({
      value: {},
      options: [
        {
          name: 'search_text',
          label: 'Search',
          default: true,
          type: 'textinput'
        },
        {
          name: 'env',
          label: 'Environment',
          type: 'textinput'
        },
        {
          name: 'created_before',
          label: 'Released before',
          type: 'date'
        },
        {
          name: 'created_after',
          label: 'Released after',
          type: 'date'
        }
      ]
    })

    const processes = reactive({
      listing: {
        in_progress: false
      },
      removing: {
        in_progress: [],
        error: null,
        error_message: null
      }
    })

    const list_records = async () => {
      let process = processes.listing
      process.in_progress = true
      let payload = {
        ...filters.value,
        page: pagination.value.page,
        per_page: pagination.value.rowsPerPage,
        sorts: `${pagination.value.descending ? '-' : '+'}${pagination.value.sortBy}`
      }
      const response = await api.list_suppliers(payload)
      if (response.status === 200) {
        records.value = response.data.result
        pagination.value.rowsNumber = response.data.total
      }
      process.in_progress = false
    }

    const remove = async (record) => {
      if (!window.confirm('Are you sure to delete this?')) return
      let process = processes.removing
      process.in_progress.push(record.id)
      const response = await api.delete_suppliers({ids: record.id})
      if (response.status === 200) {
        const record_index = records.value.findIndex(r => r.id === record.id)
        if (record_index >= 0) records.value.splice(record_index, 1)
        pagination.value.rowsNumber--
        $q.notify({
          type: 'positive',
          message: 'Supplier removed!'
        })
      }
      const process_index = process.in_progress.indexOf(record.id)
      if (process_index >= 0) process.in_progress.splice(process_index, 1)
    }

    const filter_records = debounce(list_records, 500)

    watch(
      () => filters.value,
      () => {
        filter_records()
      }
    )

    return {
      records,
      columns,
      filters,
      pagination,
      processes,
      remove,
      insert_record: (record) => {
        records.value.unshift(record)
        pagination.value.rowsNumber++
      },
      handle_update: (record) => {
        const index = records.value.findIndex(v => v.id === record.id)
        if (index >= 0) Object.assign(records.value[index], record)
      },
      handle_pagination_changed: (props) => {
        pagination.value = props.pagination
        filter_records()
      }
    }
  }
}
</script>
