<template>
  <q-dialog v-model="showed" persistent>
    <q-card v-if="showed && product" style="width: 800px; max-width: 80vw;">
      <q-item>
        <q-item-section>
          <q-item-label class="text-h6">Update Product</q-item-label>
        </q-item-section>
        <q-item-section avatar>
          <q-btn round flat dense icon="close" @click="close"/>
        </q-item-section>
      </q-item>
      <q-separator/>
      <q-card-section>
        <q-form
            class="row q-col-gutter-md"
            greedy
            @submit="handle_update_product"
        >
          <div class="col-12">
            <flight
                :value="booking_product.product"
            />
          </div>
          <div class="col-12">
            <div class="row items-center">
              <q-space/>
              <q-btn flat
                     @click="close"
                     :disable="processes.updating.in_progress"
              >
                <span>Close</span>
              </q-btn>
              <q-btn
                  type="submit" disable
                  :loading="processes.updating.in_progress"
                  color="primary">
                <span>Update</span>
              </q-btn>
            </div>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import Flight from './flight'
import {useQuasar} from 'quasar'
import {use_api} from 'src/composibles/api'
import {reactive, ref} from 'vue'

export default {
  components: {
    Flight,
  },
  props: {
    readonly: {type: Boolean, default: false},
    booking_product: {type: Object}
  },
  setup (props, context) {
    const $q = useQuasar()
    const api = use_api()
    const showed = ref(false)
    const product = ref({})
    const processes = reactive({
      updating: {
        in_progress: false,
        errors: []
      },
    })

    const open = (data) => {
      product.value = data.product
      showed.value = true
    }

    const close = () => {
      showed.value = false
    }

    const handle_update_product = async () => {
      let process = processes.updating
      if (process.in_progress) return
      process.in_progress = true
      const response = await api.update_booking_product({
        id: booking.value.id,
        data: product.value,
      })
      if (response.status === 200) {
        context.emit('updated', response.data)
        $q.notify({
          type: 'positive',
          message:'Product updated'
        })
        close()
      } else {
        $q.notify({
          type: 'negative',
          message:response.data.message
        })
      }
      process.in_progress = false
    }

    return {
      showed,
      product,
      processes,
      open,
      close,
      handle_update_product
    }
  }
}
</script>
