<template>
  <q-chip square outline size="sm"
          :color="current_status.color">
    <q-icon :name="product_code"
            size="xs" left/>
    <span class="q-mr-sm">{{ current_status.name }}</span>
  </q-chip>
</template>
<script>
import {computed, reactive, onMounted} from 'vue'
import {useQuasar} from 'quasar'

import {use_api} from 'src/composibles/api'

export default {
  components: {
  },
  props: {
    product_code: {type: String, required: true},
    status: {type: String, required: true},
  },
  setup (props, context) {
    const $q = useQuasar()
    const api = use_api()
    const processes = reactive({
      updating: {
        in_progress: false
      }
    })

    const statuses = [
      {
        id: 'processing',
        name: 'Processing',
        color: 'orange'
      },
      {
        id: 'success',
        name: 'Success',
        color: 'green'
      },
      {
        id: 'eticket-generated',
        name: 'E-Ticket Generated',
        color: 'green'
      },
      {
        id: 'failed',
        name: 'Failed',
        color: 'red'
      },
      {
        id: 'canceled',
        name: 'Canceled',
        color: 'purple'
      },
      {
        id: 'aborted',
        name: 'Aborted',
        color: 'black'
      }
    ]
    const current_status = computed(() => statuses.find(
      s => s.id === props.status
    ))
    const selectable_statuses = computed(() => {
      let result = statuses.filter(s => s.id !== current_status.value.id)
      return result
    })

    const update = async (status) => {
      let process = processes.updating
      if (process.in_progress) return
      if (!window.confirm('Are you sure to change status?')) return

      process.in_progress = true

      const response = await api.update_booking_product({
        id: props.booking_product.id,
        status: status
      })
      if (response.status === 200) {
        context.emit('updated', status)
        props.booking_product.status = status
        $q.notify({
          message:'Booking product updated!',
          type: 'positive'
        })
      }
      process.in_progress = false
    }

    onMounted(() => {
      context.emit('check_status', current_status.value.id)
    })

    return {
      selectable_statuses,
      current_status,
      update,
      processes
    }
  }
}
</script>
