<template>
  <div class="row items-center q-col-gutter-sm">
    <value :value="value.from_value"/>
    <q-icon name="mdi-arrow-right-thick"/>
    <value :value="value.to_value"/>
  </div>
</template>
<script>
import Value from './value'

export default {
  components: {
    Value
  },
  props: {
    value: {type: Object, required: true}
  }
}
</script>
