<template>
  <span>
    <template v-if="value instanceof Object">
      <template v-if="value instanceof Array">
        {{value}}
      </template>
      <template v-else>
        <div v-for="key in Object.keys(value)"
             :key="key">
          <span>{{key}}: </span>
          <span>{{value[key]}}</span>
        </div>
      </template>
    </template>
    <template v-else>
      {{ value || 'null' }}
    </template>
  </span>
</template>
<script>
export default {
  props: {
    value: {required: true}
  }
}
</script>
