<template>
  <div class="row q-col-gutter-sm">
    <div class="col-6">
      <q-select v-model="modelValue.type"
                option-label="label" option-value="id"
                map-options emit-value :options="types"
                dense label="Type"/>
    </div>
    <div class="col-6">
      <!-- <currency-select
        :disable="modelValue.type !== 'flat'"
        scope_type="App"
        label="Currency" dense
        maps-options emit-value
        v-model="modelValue.currency_code"
        :rules="rules.currency_code"
        :scope_id="app_id"/> -->
    </div>
    <template v-if="product_code === 'flight'">
      <div class="col-4">
        <q-input v-model="modelValue.adult_amount"
                 type="Number"
                 dense label="Adult Amount"/>
      </div>
      <div class="col-4">
        <q-input v-model="modelValue.child_amount"
                 type="Number" dense label="Child Amount"/>
      </div>
      <div class="col-4">
        <q-input v-model="modelValue.infant_amount"
                 type="Number" dense label="Infant Amount"/>
      </div>
    </template>
    <template v-else>
      <div class="col-12">
        <q-input v-model="modelValue.amount"
                 type="number"
                 dense label="Amount"/>
      </div>
    </template>
  </div>
</template>
<script>
// import CurrencySelect from 'components/currency/select'

export default {
  // components: {CurrencySelect},
  props: {
    modelValue: {type: Object, required: true},
    product_code: {type: String, required: true},
    app_id: {type: String, required: true},
  },
  setup () {
    const types = [
      {
        id: 'percent',
        label: 'Percent'
      },
      {
        id: 'flat',
        label: 'Flat'
      },
    ]
    const rules = {
      currency_code: [
        v => !!v || 'Required'
      ]
    }
    return {
      types,
      rules
    }
  }
}
</script>
