<template>
  <q-card flat>
    <q-card-section>
      <images :object_type="object_type"
              :object_id="object_id"/>
    </q-card-section>
  </q-card>
</template>
<script>
import Images from './images'

export default {
  components: {
    Images,
  },
  props: {
    readonly: {type: Boolean, default: false},
    object_id: {type: String},
    object_type: {type: String},
  }
}
</script>