<template>
  <div class="row q-col-gutter-lg">
    <template v-if="processes.fetching.in_progress">
      <div class="col-12">
        <q-card-actions align="center">
          <q-spinner color="primary" size="md"/>
        </q-card-actions>
      </div>
    </template>
    <template v-else>
      <div class="col-12 col-md-8 col-lg-6">
        <div class="row">
          <div class="col-12">
            <q-card flat>
              <q-item>
                <q-item-section>
                  <q-item-label class="text-weight-medium text-subtitle1">
                    Payment Information
                  </q-item-label>
                </q-item-section>
                <q-item-section avatar>
                  <status :payment="payment"/>
                </q-item-section>
              </q-item>
              <q-separator/>
              <q-item>
                <q-item-section>
                  <q-item-label caption>Transaction ID</q-item-label>
                  <q-item-label>{{ payment.transaction_id }}
                  </q-item-label>
                </q-item-section>
                <q-item-section avatar>
                  <clipboard-btn icon="content_copy" btn_color="black"
                                 :model-value="payment.transaction_id"/>
                </q-item-section>
              </q-item>
              <q-separator/>
              <q-item>
                <q-item-section>
                  <q-item-label caption>Payment Date</q-item-label>
                  <q-item-label>
                    <datetime :model-value="payment.created_at"/>
                  </q-item-label>
                </q-item-section>
                <q-item-section avatar>
                  <q-btn color="primary"
                         round size="sm" dense icon="edit"
                         flat>
                    <popup-edit
                      type="datepicker"
                      v-model="payment.created_at"
                      :rules="[v => (!!v && !!v.trim()) || 'Required']"
                      label="Payment Date"/>
                  </q-btn>
                </q-item-section>
              </q-item>
              <q-separator/>
              <q-item>
                <q-item-section>
                  <q-item-label caption>Method</q-item-label>
                  <q-item-label>
                    {{ payment.method }}
                  </q-item-label>
                </q-item-section>
                <q-item-section avatar>
                </q-item-section>
              </q-item>
              <q-separator/>
              <q-item>
                <q-item-section>
                  <q-item-label caption>Description</q-item-label>
                  <q-item-label>
                    {{ payment.desc }}
                  </q-item-label>
                </q-item-section>
                <q-item-section avatar>
                </q-item-section>
              </q-item>
              <q-separator/>
              <q-item>
                <q-item-section>
                  <q-item-label caption>Price</q-item-label>
                  <q-item-label>
                    {{ payment.currency_info.conversion }} {{ payment.amount }}
                  </q-item-label>
                </q-item-section>
                <q-item-section avatar>
                  <q-btn color="primary"
                         round size="sm" dense icon="edit"
                         flat>
                    <popup-edit
                      type="number"
                      v-model="payment.amount"
                      :rules="[v => (!!v && !!v.trim()) || 'Required']"
                      label="Price"/>
                  </q-btn>
                </q-item-section>
              </q-item>
              <q-separator/>
            </q-card>
          </div>
          <div class="col-12">
            <q-card flat>
              <q-item>
                <q-item-section>
                  <q-item-label class="text-weight-medium text-subtitle1">
                    Contact
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-separator/>
              <template v-for="cf in contact_fields" :key="cf.key">
                <q-item>
                  <q-item-section>
                    <q-item-label caption>{{ cf.label }}</q-item-label>
                    <q-item-label>
                      {{ payment.contact[cf.key] || '-/-' }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section avatar>
                    <template v-for="action in cf.actions" :key="action">
                      <template v-if="action === 'edit'">
                        <q-btn color="primary"
                               round size="sm"
                               dense icon="edit"
                               flat>
                          <popup-edit
                            :type="cf.data_type"
                            v-model="payment.contact[cf.key]"
                            :rules="cf.rules || []"
                            :label="cf.label"/>
                        </q-btn>
                      </template>
                    </template>
                  </q-item-section>
                </q-item>
                <q-separator/>
              </template>
            </q-card>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>
<script>
import {reactive, ref, onBeforeMount} from 'vue'

import {use_api} from 'src/composibles/api'

import ClipboardBtn from 'components/common/clipboard-btn'
import Datetime from 'components/common/datetime'
import Status from '../status'
import PopupEdit from 'components/common/popup-edit'

export default {
  components: {
    ClipboardBtn, Status,
    Datetime, PopupEdit
  },
  props: {
    payment_id: {type: String, required: true}
  },
  setup (props) {
    const api = use_api()

    const processes = reactive({
      fetching: {
        in_progress: false
      }
    })

    const payment = ref({})

    const contact_fields = [
      {
        key: 'email',
        label: 'Email',
        data_type: 'text',
        actions: ['edit']
      },
      {
        key: 'phone',
        label: 'Phone',
        data_type: 'text',
        actions: ['edit']
      },
      {
        key: 'first_name',
        label: 'First Name',
        data_type: 'text',
        actions: ['edit']
      },
      {
        key: 'last_name',
        label: 'Last Name',
        data_type: 'text',
        actions: ['edit']
      },
      {
        key: 'country',
        label: 'Country',
        data_type: 'text',
        actions: ['edit']
      },
      {
        key: 'city',
        label: 'City',
        data_type: 'text',
        actions: ['edit']
      },
      {
        key: 'address',
        label: 'Address',
        data_type: 'text',
        actions: ['edit']
      }
    ]

    const fetch = async () => {
      let process = processes.fetching
      process.in_progress = true

      const response = await api.get_payment({
        id: props.payment_id
      })
      if (response.status === 200) {
        payment.value = response.data
      }
      process.in_progress = false
    }

    onBeforeMount(fetch)

    return {
      processes,
      payment,
      contact_fields
    }
  }
}
</script>
