<template>
  <q-dialog v-model="showed" :maximized="$q.screen.name === 'xs'">
    <q-card style="width: max-content; max-width: 80vw;">
      <q-card-section class="row items-center q-py-sm">
        <div class="text-h6">Changes</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>
      <q-separator />
      <q-table :columns="columns"
               row-key="field"
               class="eg-log-table"
               v-model:pagination="pagination"
               :data="data">
        <template v-slot:body-cell-from_value="props">
          <q-td :props="props">
            <template v-if="props.row.from_type === 'array'">
              <template v-if="props.row.from_value.length">
                <div v-for="(item, index) in props.row.from_value" :key="index"
                      :style="index > 0 ? 'border-bottom: 1px solid #e1e1e1; padding-bottom: 10px; margin-bottom: 10px' : ''">
                  <div v-for="(child, idx) in map_object(item)" :key="idx" >
                    <q-item-label>
                      {{ child.key }}: <strong>{{ child.value }}</strong>
                    </q-item-label>
                  </div>
                </div>
              </template>
              <template v-else>
                None
              </template>
            </template>
            <template v-else-if="props.row.from_type === 'object'">
              <div v-for="(item, index) in map_object(props.row.from_value)" :key="index">
                <q-item-label>
                  {{ item.key }}: <strong>{{ item.value }}</strong>
                </q-item-label>
              </div>
            </template>
            <template v-else>
              {{ props.row.from_value }}
            </template>
          </q-td>
        </template>
        <template v-slot:body-cell-to_value="props">
          <q-td :props="props">
            <template v-if="props.row.to_type === 'array'">
              <template v-if="props.row.to_value.length">
                <div v-for="(item, index) in props.row.to_value" :key="index"
                      :style="index > 0 ? 'border-bottom: 1px solid #e1e1e1; padding-bottom: 10px; margin-bottom: 10px' : ''">
                  <div v-for="(child, idx) in map_object(item)" :key="idx">
                    {{ child.key }}: <strong>{{ child.value }}</strong>
                  </div>
                </div>
              </template>
              <template v-else>
                None
              </template>
            </template>
            <template v-else-if="props.row.to_type === 'object'">
              <div v-for="(item, index) in map_object(props.row.to_value)" :key="index">
                {{ item.key }}: <strong>{{ item.value }}</strong>
              </div>
            </template>
            <template v-else>
              {{ props.row.to_value }}
            </template>
          </q-td>
        </template>
      </q-table>
    </q-card>
  </q-dialog>
</template>
<script>
import _ from 'lodash'
import {ref, computed} from 'vue'

export default {
  setup () {
    const showed = ref(false)
    const pagination = ref({
      page: 1,
      rowsPerPage: 500,
      rowsNumber: 0
    })
    const data = ref([])

    const columns = computed(() => {
      return [
        {
          label: 'Field',
          field: 'field',
          name: 'field',
          align: 'left',
        },
        {
          label: 'From',
          field: 'from_value',
          name: 'from_value',
          align: 'left',
        },
        {
          label: 'To',
          field: 'to_value',
          name: 'to_value',
          align: 'left',
        },
      ]
    })

    const open = (value) => {
      let result = []
      for (let key in value) {
        const from = value[key].from_value
        const to = value[key].to_value

        let from_type = 'string'
        if (_.isArray(from)) from_type = 'array'
        else if (_.isObject(from)) from_type = 'object'

        let to_type = 'string'
        if (_.isArray(to)) to_type = 'array'
        else if (_.isObject(to)) to_type = 'object'

        result.push({
          field: key,
          from_value: from || 'None',
          to_value: to || 'None',
          from_type,
          to_type
        })
      }
      data.value = result
      showed.value = true
    }
    const map_object = (data) => {
      let result = []
      for (let item in data) {
        result.push({
          key: item,
          value: _.isObject(data[item]) ? JSON.stringify(data[item]) : (data[item] || 'None')
        })
      }
      return result
    }

    return {
      showed,
      pagination,
      data,
      columns,
      open,
      map_object
    }
  },
}
</script>

<style lang="scss">
  .eg-log-table {
    .q-table__bottom {
      display: none
    }
  }
</style>
