<template>
  <q-chip square outline size="sm"
          :color="current_status.color">
    <q-icon name="payment" left size="xs"/>
    <span class="q-mr-sm">{{ current_status.name }}</span>
  </q-chip>
</template>
<script>
import {computed} from 'vue'

export default {
  props: {
    payment: {type: Object, required: true}
  },
  setup (props, context) {
    const statuses = [
      {
        id: 'processing',
        name: 'Processing',
        color: 'orange'
      },
      {
        id: 'pending',
        name: 'Pending',
        color: 'orange'
      },
      {
        id: 'success',
        name: 'Success',
        color: 'green'
      },
      {
        id: 'failed',
        name: 'Failed',
        color: 'red'
      },
      {
        id: 'refunded',
        name: 'Refunded',
        color: 'purple'
      },
    ]
    const current_status = computed(() => statuses.find(
      s => s.id === props.payment.status
    ))
    const selectable_statuses = computed(() => {
      return statuses.filter(s => s.id !== current_status.value.id)
    })

    return {
      selectable_statuses,
      current_status
    }
  }
}
</script>
