<template>
  <q-dialog v-model="showed" persistent>
    <q-card style="width: 1100px; max-width: 99vw;">
      <q-item>
        <q-item-section>
          <q-item-label class="text-h6">Update Markup</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-btn dense flat round icon="close" @click="toggle"/>
        </q-item-section>
      </q-item>
      <q-separator/>
      <q-card-section>
        <markup-form v-model="record"
                     :scope_type="scope_type"
                     :app_id="app_id"
                     ref="form"/>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn label="Cancel" flat @click="toggle"/>
        <q-btn @click="update"
               :loading="process.in_progress"
               color="primary" label="Submit"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script>
import {ref, reactive} from 'vue'
import {useQuasar} from 'quasar'

import {use_api} from 'src/composibles/api'

import MarkupForm from '../../form'

export default {
  components: {
    MarkupForm
  },
  props: {
    app_id: {type: String},
    scope_type: {type: String, required: true},
  },
  setup (props, context) {
    const api = use_api()
    const $q = useQuasar()
    const showed = ref(false)
    const form = ref(null)
    const record = ref({})
    const process = reactive({
      in_progress: false,
      error: null,
      error_message: null
    })


    const toggle = (data) => {
      if (showed.value) {
        // closing logic
        record.value = {}
      } else {
        // opening logic
        record.value = data
      }
      showed.value = !showed.value
    }

    const update = async () => {
      if (!await form.value.validate()) return
      process.in_progress = true
      process.error = null
      let payload = {
        ...record.value
      }
      if (record.value.scope) payload.scope_id = record.value.scope.id
      const response = await api.update_markup(payload)
      if (response.status === 200) {
        context.emit('updated', response.data)
        $q.notify({
          type: 'positive',
          message: 'Markup updated!'
        })
        toggle()
      } else {
        process.error = response.data.error
        process.error_message = response.data.message
      }
      process.in_progress = false
    }

    return {
      showed,
      form,
      process,
      toggle,
      update,
      record
    }
  }
}
</script>
