<template>
  <div class="row">
    <div class="col-12" v-for="(pl, i) in value" :key="i">
      <div class="row items-center text-caption">
        <span>From</span>
        <q-chip square size="xs">
          <date :modelValue="pl.from_date"/>
        </q-chip>
        <span>To</span>
        <q-chip square size="xs">
          <date :modelValue="pl.to_date"/>
        </q-chip>
        <q-space/>
        <span>{{ currency_info.conversion }} {{ pl.total_amount }} </span>
      </div>
    </div>
  </div>
</template>
<script>
import Date from 'src/components/common/date'

export default {
  components: {
    Date
  },
  props: {
    value: {type: Array, required: true},
    currency_info: {type: Object, required: true},
  },
}
</script>
