<template>
  <q-page>
    <div class="row q-col-gutter-lg">
      <div class="col-12">
        <q-card flat>
          <q-item>
            <q-item-section side>
              <q-icon name="keyboard_double_arrow_up"/>
            </q-item-section>
            <q-item-section>
              <q-item-label class="text-weight-medium text-subtitle1">
                Markups
              </q-item-label>
            </q-item-section>
            <q-item-section avatar>
              <q-btn unelevated no-caps size="sm"
                     @click="$refs.create_dialog.toggle()"
                     color="primary" icon="add">
                Create Markup
              </q-btn>
            </q-item-section>
          </q-item>
          <q-separator/>
          <markup-table scope_type="App"
                         :app_id="app.id"
                         ref="table"/>
        </q-card>
      </div>
    </div>
    <create-dialog ref="create_dialog"
                   scope_type="App"
                   :app_id="app.id"
                   @created="handle_created"/>
  </q-page>
</template>
<script>
import {ref} from 'vue'
import {useRoute} from 'vue-router'

import CreateDialog from 'components/markup/dialogs/create'
import MarkupTable from 'components/markup/table'

export default {
  components: {
    CreateDialog,
    MarkupTable
  },
  setup () {
    const table = ref(null)
    const route = useRoute()
    // const app = ref({
    //   id: route.params.id
    // })
    return {
      table,
      // app,
      handle_created (record) {
        table.value.insert_record(record)
      },
    }
  }
}
</script>
