<template>
  <q-page>
    <q-card flat bordered>
      <q-item>
        <q-item-section side>
          <q-icon name="settings_input_component"/>
        </q-item-section>
        <q-item-section>
          <q-item-label class="text-h6">Suppliers</q-item-label>
        </q-item-section>
        <q-item-section avatar>
          <q-btn color="primary"
                 @click="$refs.create_dialog.toggle()"
                 label="Create" size="sm" no-caps/>
        </q-item-section>
      </q-item>
      <q-separator/>
      <supplier-table ref="table"/>
    </q-card>
    <create-dialog ref="create_dialog"
                   scope_type="System"
                   @created="handle_created"/>
  </q-page>
</template>
<script>
import {ref} from 'vue'

import CreateDialog from 'components/supplier/dialogs/create'
import SupplierTable from 'components/supplier/table'

export default {
  components: {
    CreateDialog,
    SupplierTable
  },
  setup () {
    const table = ref(null)
    return {
      table,
      handle_created: (record) => {
        table.value.insert_record(record)
      }
    }
  }
}
</script>
