<template>
  <table-filter v-model="filters.value"
                :fields="filters.options"/>
  <q-separator/>
  <q-table
    flat
    :columns="columns"
    :rows="records"
    v-model:pagination="pagination"
    @request="handle_pagination_changed"
    :loading="processes.listing.in_progress"
    binary-state-sort
    row-key="id"
    dense>
    <template v-slot:body-cell-actions="props">
      <q-td :props="props">
        <q-btn dense round
               @click="$refs.detail_dialog.toggle(props.row)"
               size="sm" color="primary"
               flat icon="open_in_new"/>
      </q-td>
    </template>
    <template v-slot:body-cell-created_at="props">
      <q-td :props="props">
        <datetime :modelValue="props.row.created_at"/>
      </q-td>
    </template>
    <template v-slot:body-cell-meta="props">
      <q-td :props="props">
        <logging-meta :logging_type="props.row.type" :model-value="props.row.meta"/>
      </q-td>
    </template>
  </q-table>
  <logging-detail-dialog ref="detail_dialog"/>
</template>
<script>
import {ref, reactive, watch} from 'vue'
import debounce from 'lodash/debounce'
import cloneDeep from 'lodash/cloneDeep'

import {use_api} from 'src/composibles/api'

import TableFilter from 'src/components/common/table-filter'
import Datetime from 'src/components/common/datetime'
import LoggingDetailDialog from '../dialogs/details'
import LoggingMeta from './meta'

export default {
  components: {
    TableFilter,
    Datetime,
    LoggingDetailDialog,
    LoggingMeta
  },
  props: {
    default_filters: {type: Object}
  },
  setup (props, context) {
    const api = use_api()

    const records = ref([])
    const columns = [
      {
        name: 'tracing_id',
        field: 'tracing_id',
        label: 'Tracing ID',
        align: 'left',
      },
      {
        name: 'type',
        field: 'type',
        label: 'Type',
        align: 'left',
      },
      {
        name: 'created_at',
        field: 'created_at',
        label: 'Created At',
        align: 'left',
        sortable: true
      },
      {
        name: 'meta',
        field: 'meta',
        label: 'Meta',
        align: 'left',
      },
      {
        name: 'actions',
        field: 'actions',
        label: '',
        align: 'right'
      }
    ]
    const pagination = ref({
      sortBy: 'created_at',
      descending: true,
      page: 1,
      rowsPerPage: 25,
      rowsNumber: 0
    })

    const filters = reactive({
      value: cloneDeep(props.default_filters || {}),
      options: [
        {
          name: 'tracing_ids',
          label: 'Tracing ID',
          default: true,
          type: 'textinput'
        },
        {
          name: 'types',
          label: 'Type',
          type: 'textinput'
        },
        {
          name: 'created_before',
          label: 'Created before',
          type: 'date'
        },
        {
          name: 'created_after',
          label: 'Created after',
          type: 'date'
        }
      ]
    })

    const processes = reactive({
      listing: {
        in_progress: false
      }
    })

    const list_records = async () => {
      let process = processes.listing
      process.in_progress = true
      let payload = {
        ...filters.value,
        page: pagination.value.page,
        per_page: pagination.value.rowsPerPage,
        sorts: `${pagination.value.descending ? '-' : '+'}${pagination.value.sortBy}`
      }
      const response = await api.list_loggings(payload)
      if (response.status === 200) {
        records.value = response.data.result
        pagination.value.rowsNumber = response.data.total
      }
      process.in_progress = false
    }

    const filter_records = debounce(list_records, 500)

    watch(
      () => filters.value,
      () => {
        filter_records()
        context.emit('filters_changed', filters.value)
      }
    )

    return {
      records,
      columns,
      filters,
      pagination,
      processes,
      handle_pagination_changed: (props) => {
        pagination.value = props.pagination
        filter_records()
      }
    }
  }
}
</script>
