<template>
  <div class="row q-col-gutter-sm">
    <div class="col-12">
      <q-select v-model="modelValue.weekdays" clearable
                multiple :options="weekdays"
                dense label="Weekdays"/>
    </div>
    <div class="col-12 col-md-6">
      <date-picker label="Booking From"
                   v-model="modelValue.booking_date_from"/>
    </div>
    <div class="col-12 col-md-6">
      <date-picker label="Booking To"
                   v-model="modelValue.booking_date_to"/>
    </div>
    <div class="col-12 col-md-6">
      <date-picker label="Travel From"
                   v-model="modelValue.travel_date_from"/>
    </div>
    <div class="col-12 col-md-6">
      <date-picker label="Travel To"
                   v-model="modelValue.travel_date_to"/>
    </div>
    <template v-if="product_code">
      <template v-if="product_code === 'hotel'">
        <div class="col-12">
          <q-select multiple use-chips clearable
                    v-model="modelValue.hotel_stars"
                    :options="hotel_stars"
                    dense label="Stars">
            <template v-slot:option="scope">
              <q-item v-bind="scope.itemProps">
                <q-item-section>
                  <q-item-label>
                    {{ scope.opt }}
                  </q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-item-label>
                    <q-rating readonly no-dimming no-reset
                              color-selected="orange"
                              color-half="orange"
                              color="grey"
                              :model-value="scope.opt"/>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
        <div class="col-12 col-md-6">
          <q-input dense type="number"
                   v-model="modelValue.pax_count_from"
                   label="Pax From"/>
        </div>
        <div class="col-12 col-md-6">
          <q-input dense
                   type="number"
                   v-model="modelValue.pax_count_to"
                   label="Pax To"/>
        </div>
        <div class="col-12 col-md-6">
          <q-input dense
                   type="number"
                   v-model="modelValue.night_count_from"
                   label="Night From"/>
        </div>
        <div class="col-12 col-md-6">
          <q-input dense
                   type="number"
                   v-model="modelValue.night_count_to"
                   label="Night To"/>
        </div>
        <div class="col-12 col-md-6">
          <q-input dense
                   type="number"
                   v-model="modelValue.room_count_from"
                   label="Room From"/>
        </div>
        <div class="col-12 col-md-6">
          <q-input dense
                   type="number"
                   v-model="modelValue.room_count_to"
                   label="Room To"/>
        </div>
      </template>
      <template v-if="product_code === 'flight'">
        <div class="col-12 col-md-6">
          <q-select dense label="Route Types"
                    v-model="modelValue.route_types"
                    multiple clearable
                    :options="route_types"/>
        </div>
        <div class="col-12 col-md-6">
          <q-select dense label="Journey Types" clearable
                    v-model="modelValue.journey_types"
                    multiple
                    :options="journey_types"/>
        </div>
        <div class="col-12 col-md-6">
          <q-select dense label="Cabin Classes"
                    v-model="modelValue.cabin_classes"
                    multiple clearable
                    :options="cabin_classes"/>
        </div>
        <div class="col-12 col-md-6">
          <q-select dense label="Booking Classes"
                    v-model="modelValue.booking_classes"
                    multiple clearable
                    :options="booking_classes"/>
        </div>
        <div class="col-12">
          <q-card flat bordered>
            <q-item class="bg-grey-3">
              <q-item-section>
                <q-item-label>Departure Airports</q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-btn-dropdown dense size="sm"
                                flat :label="modelValue.da_condition">
                  <q-item dense v-for="cl in condition_logics"
                          clickable v-close-popup
                          :disable="modelValue.da_condition === cl"
                          @click="modelValue.da_condition = cl"
                          :key="cl">
                    <q-item-section>
                      <q-item-label class="text-uppercase text-caption">
                        {{ cl }}
                      </q-item-label>
                    </q-item-section>
                    <q-item-section side>
                      <q-icon name="check"
                              v-if="modelValue.da_condition === cl"/>
                    </q-item-section>
                  </q-item>
                </q-btn-dropdown>
              </q-item-section>
            </q-item>
            <template v-if="modelValue.da_condition !== 'all'">
              <q-separator/>
              <q-item>
                <q-item-section>
                  <place-select
                    v-model="modelValue.departure_airports"
                    :types="['airport']"
                    :meta="{
                      'multiple': true,
                      'borderless': true,
                      'use-input': true,
                      'fill-input': true,
                      'map-options': true,
                      'emit-value': true,
                    }"/>
                </q-item-section>
              </q-item>
            </template>
          </q-card>
        </div>
        <div class="col-12">
          <q-card flat bordered>
            <q-item class="bg-grey-3">
              <q-item-section>
                <q-item-label>Arrival Airports</q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-btn-dropdown dense size="sm"
                                flat :label="modelValue.aa_condition">
                  <q-item dense v-for="cl in condition_logics"
                          clickable v-close-popup
                          :disable="modelValue.aa_condition === cl"
                          @click="modelValue.aa_condition = cl"
                          :key="cl">
                    <q-item-section>
                      <q-item-label class="text-uppercase text-caption">
                        {{ cl }}
                      </q-item-label>
                    </q-item-section>
                    <q-item-section side>
                      <q-icon name="check"
                              v-if="modelValue.aa_condition === cl"/>
                    </q-item-section>
                  </q-item>
                </q-btn-dropdown>
              </q-item-section>
            </q-item>
            <template v-if="modelValue.aa_condition !== 'all'">
              <q-separator/>
              <q-item>
                <q-item-section>
                  <!-- <place-select
                    v-model="modelValue.arrival_airports"
                    :types="['airport']"
                    :meta="{
                      'multiple': true,
                      'borderless': true,
                      'use-input': true,
                      'fill-input': true,
                      'map-options': true,
                      'emit-value': true,
                    }"/> -->
                </q-item-section>
              </q-item>
            </template>
          </q-card>
        </div>
        <div class="col-12">
          <q-card flat bordered>
            <q-item class="bg-grey-3">
              <q-item-section>
                <q-item-label>Airlines</q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-btn-dropdown dense size="sm"
                                flat :label="modelValue.airline_condition">
                  <q-item dense v-for="cl in condition_logics"
                          clickable v-close-popup
                          :disable="modelValue.airline_condition === cl"
                          @click="modelValue.airline_condition = cl"
                          :key="cl">
                    <q-item-section>
                      <q-item-label class="text-uppercase text-caption">
                        {{ cl }}
                      </q-item-label>
                    </q-item-section>
                    <q-item-section side>
                      <q-icon name="check"
                              v-if="modelValue.airline_condition === cl"/>
                    </q-item-section>
                  </q-item>
                </q-btn-dropdown>
              </q-item-section>
            </q-item>
            <template v-if="modelValue.airline_condition !== 'all'">
              <q-separator/>
              <q-item>
                <q-item-section>
                  <!-- <airline-select
                    v-model="modelValue.airlines"
                    :meta="{
                      'multiple': true,
                      'borderless': true,
                      'use-input': true,
                      'fill-input': true,
                      'map-options': true,
                      'emit-value': true,
                    }"/> -->
                </q-item-section>
              </q-item>
            </template>
          </q-card>
        </div>
      </template>
      <div class="col-12">
        <q-card flat bordered>
          <q-item class="bg-grey-3">
            <q-item-section>
              <q-item-label>Providers</q-item-label>
            </q-item-section>
            <q-item-section avatar>
              <q-btn-dropdown dense size="sm"
                              flat :label="modelValue.provider_condition">
                <q-item dense v-for="cl in condition_logics"
                        clickable v-close-popup
                        :disable="modelValue.provider_condition === cl"
                        @click="modelValue.provider_condition = cl"
                        :key="cl">
                  <q-item-section>
                    <q-item-label class="text-uppercase text-caption">
                      {{ cl }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section side>
                    <q-icon name="check"
                            v-if="modelValue.provider_condition === cl"/>
                  </q-item-section>
                </q-item>
              </q-btn-dropdown>
            </q-item-section>
          </q-item>
          <template v-if="modelValue.provider_condition !== 'all'">
            <q-separator/>
            <q-item>
              <q-item-section>
                <!-- <provider-select
                  v-model="modelValue.provider_ids"
                  :meta="{
                  'multiple': true,
                  'borderless': true,
                  'use-input': true,
                  'fill-input': true,
                  'map-options': true,
                  'emit-value': true,
                }"
                  :product_codes="[product_code]"/> -->
              </q-item-section>
            </q-item>
          </template>
        </q-card>
      </div>
    </template>
  </div>
</template>
<script>
import DatePicker from 'components/common/date-picker'
// import ProviderSelect from 'components/provider/select'
// import AirlineSelect from 'components/storage/airline/select'
// import PlaceSelect from 'components/storage/place/select'

export default {
  components: {
    DatePicker,
    // ProviderSelect,
    // AirlineSelect,
    // PlaceSelect,
  },
  props: {
    modelValue: {type: Object, required: true},
    product_code: {type: String}
  },
  setup () {
    const weekdays = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
    const journey_types = ['one-way', 'return']
    const route_types = ['domestic', 'international']
    const cabin_classes = ['Economy', 'Business', 'Premium', 'First']
    const condition_logics = ['all', 'includes', 'excludes']
    const hotel_stars = [
      '1',
      '1.5',
      '2',
      '2.5',
      '3',
      '3.5',
      '4',
      '4.5',
      '5',
    ]
    const booking_classes = [
      'A', 'F',
      'C', 'D', 'I', 'J',
      'H', 'O', 'X', 'Y',
      'B', 'W', 'R', 'E',
      'P', 'T', 'U', 'Z',
      'K', 'M', 'L', 'V', 'Q', 'S', 'G', 'N',
    ]

    return {
      weekdays,
      journey_types,
      route_types,
      cabin_classes,
      booking_classes,
      condition_logics,
      hotel_stars
    }
  }
}
</script>
