<template>
  <div class="row q-col-gutter-sm">
    <template v-if="mode === 'edit'">
      <div class="col-12">
        <q-item-label>
          <div class="row items-center q-gutter-sm">
            <q-btn size="sm"
                   color="primary"
                   @click="$refs.file_picker.click()"
                   :disable="readonly"
                   icon="add" dense/>
            <q-btn size="sm"
                   color="red"
                   @click="remove"
                   :loading="processes.removing.in_progress"
                   :disable="!selected_images.length || readonly"
                   icon="delete" dense/>
          </div>
        </q-item-label>
        <q-item-label caption v-if="selected_images.length">
          <span>{{ selected_images.length }} selected</span>
        </q-item-label>
        <input ref="file_picker" @input="handle_files_picked"
               type="file" v-show="false"
               multiple accept="image/*"/>
      </div>
      <div class="col-12">
        <q-separator/>
      </div>
    </template>
    <div class="col-12">
      <div class="row q-col-gutter-md">
        <template v-if="processes.listing.in_progress">
          <div class="col-12 text-center">
            <q-spinner size="sm" color="primary"/>
          </div>
        </template>
        <template v-else>
          <template v-if="total">
            <div class="col-12">
              <div v-masonry transition-duration="0.5s"
                   item-selector=".masonry-item">
                <cms-image :image="image" v-for="image in images"
                           @selected="handle_image_selected"
                           :selected="selected_images.includes(image)"
                           :key="image.id"/>
              </div>
            </div>
            <div class="col-12 text-center" v-if="!no_more_images">
              <q-btn flat no-caps color="primary"
                     :loading="processes.loading_more.in_progress"
                     @click="load_more">
                <span>Load More</span>
              </q-btn>
            </div>
          </template>
          <template v-else>
            <div class="col-12 text-center">
              <q-item>
                <q-item-section>
                  <q-item-label caption>No images found</q-item-label>
                  <q-item-label v-if="mode === 'edit'">
                    <q-btn @click="$refs.file_picker.click()"
                           flat no-caps size="sm" color="primary">
                      <span>Upload Images</span>
                    </q-btn>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </div>
          </template>
        </template>
      </div>
    </div>
    <upload-dialog ref="upload_dialog"
                   @uploaded="handle_image_uploaded"
                   :object_id="object_id"
                   :object_type="object_type"/>
  </div>
</template>
<script>
import CmsImage from './image'
import UploadDialog from './upload-dialog'

export default {
  components: {
    CmsImage,
    UploadDialog
  },
  props: {
    readonly: {type: Boolean, default: false},
    multiple: {type: Boolean, default: false},
    object_id: {type: String},
    object_type: {type: String},
    mode: {type: String, default: 'edit'}
  },
  data () {
    return {
      images: [],
      total: 0,
      page: 1,
      per_page: 30,
      selected_images: [],
      processes: {
        listing: {
          in_progress: false
        },
        loading_more: {
          in_progress: false
        },
        removing: {
          in_progress: false
        }
      }
    }
  },
  computed: {
    no_more_images () {
      return (this.page + 1) * this.per_page > this.total
    }
  },
  methods: {
    handle_files_picked ($event) {
      if (!$event.target.files.length) return
      this.$refs.upload_dialog.open($event.target.files)
      $event.target.value = ''
    },
    handle_image_uploaded (image) {
      this.images.unshift(image)
      this.total++
    },
    handle_image_selected (image) {
      const index = this.selected_images.indexOf(image)
      if (index >= 0) {
        this.selected_images.splice(index, 1)
      } else {
        if (this.mode === 'select' && !this.multiple) {
          this.selected_images = [image]
        } else {
          this.selected_images.push(image)
        }
      }
      this.$emit('image_selected', this.selected_images)
    },
    async list () {
      let process = this.processes.listing
      if (process.in_progress) return
      process.in_progress = true

      const service = new this.$services.StorageService(this)
      const response = await service.list_files({
        object_id: this.object_id,
        object_type: this.object_type,
        file_type: 'media',
        page: this.page,
        per_page: this.per_page,
        sorts: '-created_at'
      })
      if (response.status === 200) {
        this.total = response.data.total
        this.images = response.data.result
      }
      process.in_progress = false
    },
    async load_more () {
      let process = this.processes.loading_more
      if (process.in_progress) return
      process.in_progress = true
      const service = new this.$services.StorageService(this)
      const response = await service.list({
        object_id: this.object_id,
        object_type: this.object_type,
        file_type: 'media',
        page: this.page + 1,
        per_page: this.per_page,
        sorts: '-created_at'
      })
      if (response.status === 200) {
        this.total = response.data.total
        this.images = this.images.concat(response.data.result)
        this.page++
      }
      process.in_progress = false
    },
    async remove () {
      let process = this.processes.removing
      if (process.in_progress) return
      if (!window.confirm(`Are you sure to remove ${this.selected_images.length} image(s)?`)) return
      process.in_progress = true
      const service = new this.$services.StorageService(this)
      const response = await service.delete_file({
        ids: this.selected_images.map(i => i.id).join(',')
      })
      if (response.status === 200) {
        this.selected_images.forEach(i => {
          const index = this.images.indexOf(i)
          if (index >= 0) {
            this.images.splice(index, 1)
            this.total--
          }
        })
        this.selected_images = []
      }
      process.in_progress = false
    }
  },
  created () {
    this.list()
  }
}
</script>