<template>
  <q-card flat class="bg-grey-3">
    <q-item dense>
      <q-item-section>
        <q-breadcrumbs>
          <template v-slot:separator>
            <q-icon
              size="1.2em"
              name="chevron_right"
              color="primary"
            />
          </template>
          <q-breadcrumbs-el v-for="(segment, index) in routes"
                            :icon="segment.icon" ripple
                            :key="index"
                            :to="{name: segment.name}"
                            :label="segment.label"/>
        </q-breadcrumbs>
      </q-item-section>
    </q-item>
  </q-card>
</template>
<script>
import {computed} from 'vue'
import {useRoute} from 'vue-router'

export default {
  setup () {
    const current_route = useRoute()

    const routes = computed(() => {
      let result = []
      current_route.matched.forEach(i => {
        let bc_item = {
          name: i.name,
        }
        if (i.name === 'main') {
          bc_item.label = 'Home'
          bc_item.icon = 'home'
        } else if(i.name === 'main.app') {
          i.name = 'main.apps'
          bc_item.label = 'Application'
          bc_item.icon = 'apps'
        } else {
          bc_item.label = i.meta.label
          bc_item.icon = i.meta.icon
        }
        result.push(bc_item)
      })
      return result
    })
    return {routes}
  }
}
</script>
