<template>
  <div class="row q-col-gutter-sm">
    <div class="col-12">
      <span class="text-weight-medium">URL: </span>
      <span>{{ modelValue.url }}</span>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    modelValue: {type: Object, required: true},
    logging_type: {type: String, required: true}
  }
}
</script>
