<template>
  <q-item dense>
    <q-item-section>
      <q-field dense
               :prefix="textinput_prefix"
               borderless>
        <template v-slot:prepend>
          <q-icon name="filter_alt"/>
          <template v-if="selections.length">
            <selection size="sm"
                       @remove="remove_selection(selection)"
                       v-for="(selection, i) in selections"
                       :key="i" :modelValue="selection"
            >
            </selection>
          </template>
        </template>
        <template v-slot:control>
          <input class="table-filter-text-input full-width"
                 placeholder="Filters"
                 v-model="textinput_value"
                 @keydown.enter="handle_textinput_on_enter"
                 ref="textinput"/>
          <q-menu no-focus ref="dropdown" @before-hide="field = null">
            <q-card style="min-width: 300px">
              <template v-if="field">
                <q-item dense>
                  <q-item-section>
                    <q-item-label class="text-weight-bold">
                      {{ field.label }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator/>
                <template v-if="field.type === 'textinput'">
                  <q-item dense>
                    <q-item-section>
                      <q-item-label>
                        <q-input
                          autofocus
                          placeholder="Type and hit enter to apply filters"
                          :prefix="`${field.label}: `"
                          v-model="field_textinput_value"
                          @keydown.enter="handle_field_textinput_on_enter"
                          borderless dense/>
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </template>
                <template v-else-if="field.type === 'select'">
                  <template v-if="field.with_filters">
                    <q-item dense>
                      <q-item-section>
                        <q-item-label>
                          <q-input v-model="field_option_search"
                                   autofocus
                                   :disable="fetching_field_options"
                                   @change="filter_field_options"
                                   placeholder="Type to filter options"
                                   borderless dense/>
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-separator/>
                  </template>
                  <template v-if="fetching_field_options">
                    <q-item dense>
                      <q-item-section>
                        <q-item-label class="text-center">
                          <q-spinner size="sm"/>
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </template>
                  <template v-else>
                    <template v-if="field_options.length">
                      <q-item v-for="(opt, i) in field_options"
                              @click="add_selection(opt)"
                              clickable
                              :key="i" dense>
                        <q-item-section>
                          <q-item-label>{{ opt.label }}</q-item-label>
                        </q-item-section>
                      </q-item>
                    </template>
                    <template v-else>
                      <q-item dense>
                        <q-item-section>
                          <q-item-label caption>
                            No available options
                          </q-item-label>
                        </q-item-section>
                      </q-item>
                    </template>
                  </template>
                </template>
                <template v-else-if="field.type === 'date'">
                  <q-item dense>
                    <q-item-section>
                      <q-item-label>
                        <q-input :placeholder="date_format"
                                 autofocus
                                 :prefix="`${field.label}: `"
                                 v-model="field_textinput_value"
                                 @keydown.enter="handle_field_textinput_on_enter"
                                 borderless dense/>
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </template>
              </template>
              <template v-else>
                <q-item dense>
                  <q-item-section>
                    <q-item-label class="text-weight-bold">
                      Filters
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator/>
                <q-item v-for="(f, i) in fields"
                        dense clickable @click="select_field(f)"
                        :key="i">
                  <q-item-section>
                    <q-item-label>{{ f.label }}</q-item-label>
                  </q-item-section>
                </q-item>
              </template>
            </q-card>
          </q-menu>
          <q-menu no-parent-event ref="error_popup" no-focus auto-close>
            <q-card style="min-width: 300px">
              <q-item dense>
                <q-item-section side>
                  <q-icon name="error" color="negative"/>
                </q-item-section>
                <q-item-section>
                  <q-item-label caption>{{ error_message }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-card>
          </q-menu>
        </template>
        <template v-slot:append>
          <q-btn round flat size="sm"
                 v-if="selections.length"
                 @click="clear_selections"
                 icon="clear">
          </q-btn>
          <q-btn round flat size="sm"
                 icon="help">
            <q-popup-proxy>
              <q-item>
                <q-item-section>
                  <q-item-label caption>
                    Create a refined filter query by using a property to
                    narrow
                    your results. Example:
                  </q-item-label>
                  <q-item-label caption>
                    <q-chip size="sm" removable>Label: value</q-chip>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-popup-proxy>
          </q-btn>
        </template>
      </q-field>
    </q-item-section>
  </q-item>
</template>
<style scoped>
.table-filter-text-input {
  outline: none;
  border: none;
}
</style>
<script>
import {computed, ref, onBeforeMount, watch} from 'vue'
import {useStore} from 'vuex'
import debounce from 'lodash/debounce'

import Selection from './selection'

import {
  validate_date_format,
  change_datetime_format
} from 'src/composibles/utils'

export default {
  components: {Selection},
  props: {
    fields: {type: Array, required: true},
    modelValue: {type: Object, default: () => ({})},
    placeholder: {type: String, default: 'Filter data'}
  },
  setup (props, context) {
    const textinput = ref(null)
    const dropdown = ref(null)
    const error_popup = ref(null)
    const store = useStore()

    const textinput_value = ref('')
    const error_message = ref('')
    const selections = ref([])
    const field = ref(null)
    const date_format = store.state.Context.date_format
    const default_field = props.fields.find(f => f.default)
    const field_textinput_value = ref(null)
    const fetching_field_options = ref(false)
    const field_options = ref([])
    const field_option_search = ref('')

    const handle_textinput_on_enter = () => {
      const [is_valid, message] = validate_textinput(
        textinput_value.value
      )
      if (!is_valid) {
        error_message.value = message
        error_popup.value.show()
        return
      }
      add_selection({value: textinput_value.value.trim()})
      field.value = null
      textinput_value.value = ''
    }
    const handle_field_textinput_on_enter = () => {
      const [is_valid, message] = validate_textinput(
        field_textinput_value.value
      )
      if (!is_valid) {
        error_message.value = message
        error_popup.value.show()
        return
      }

      const selected_field = field.value || default_field
      const field_type = selected_field.type

      let submit_value = field_textinput_value.value

      if (field_type === 'date') {
        submit_value = change_datetime_format(
          submit_value,
          date_format,
          'iso'
        )
      }

      add_selection({value: submit_value.trim()})
      field_textinput_value.value = ''
    }

    const validate_textinput = (text) => {
      const selected_field = field.value || default_field
      const field_type = selected_field.type
      if (field_type === 'date') {
        if (validate_date_format(text, date_format)) {
          return [true, 'ok']
        }
        return [
          false,
          `Invalid date query format.
             Please entering a valid format ${date_format}`
        ]
      }

      if (field_type === 'select' && field.value.strict) {
        const valid_values = (field_options.value || []).map(
          opt => {
            opt.value
          }
        )
        if (valid_values.includes(text)) return [true, 'ok']
        return [
          false,
          'Invalid value. Please try selecting from the dropdown list.'
        ]
      }

      return [true, 'ok']

    }

    const add_selection = (option) => {

      const selected_field = field.value || default_field

      selections.value.push({
        field_label: selected_field.label,
        field_name: selected_field.name,
        field_type: selected_field.type,
        option_value: option.value,
        option_label: option.label
      })
    }

    const remove_selection = selection => {
      const index = selections.value.indexOf(selection)
      if (index >= 0) {
        selections.value.splice(index, 1)
        textinput.value.focus()
      }
    }

    const clear_selections = () => {
      selections.value = []
      field.value = null
      textinput_value.value = ''
    }

    const fetch_field_options = async (f) => {
      if (f.async_function) {
        fetching_field_options.value = true
        field_options.value = await f.async_function(field_option_search.value)
        fetching_field_options.value = false
      } else {
        let options = f.options || []
        if (field_option_search.value) {
          options = options.filter(x => x.value.includes(
            field_option_search.value
          ))
          field_options.value = options
        }
      }
    }

    const select_field = (f) => {
      field.value = f
      if (f.type === 'select') {
        fetch_field_options(f)
      }
    }

    const filter_field_options = debounce(function () {
      fetch_field_options(field.value)
    }, 500)

    const textinput_prefix = computed(() => {
      if (!field.value || field.value.default) return ''
      return field.value.label
    })

    onBeforeMount(() => {
      let _selections = []
      Object.keys(props.modelValue).forEach(k => {
        const field = props.fields.find(f => f.name === k)
        if (field) {
          const values = props.modelValue[k]
          values.forEach(v => {
            let filter = {
              field_label: field.label,
              field_name: field.name,
              field_type: field.type,
              option_value: v
            }
            if (field.type === 'select') {
              const option = field.options.find(o => o.value === v)
              if (option) filter.option_label = option.label
            }
            _selections.push(filter)
          })
        }
      })
      selections.value = _selections
    })

    watch(
      () => [...selections.value],
      (val) => {
        let result = {}
        val.forEach(f => {
          const key = f.field_name
          if (!result[key]) result[key] = []
          result[key].push(f.option_value)
        })
        context.emit('update:modelValue', result)
      }
    )

    watch(
      () => textinput_value.value,
      () => {
        error_popup.value.hide()
      }
    )

    return {
      textinput,
      dropdown,
      error_popup,

      textinput_value,
      field,
      field_options,
      selections,
      fetching_field_options,
      textinput_prefix,
      error_message,
      field_textinput_value,
      date_format,
      field_option_search,

      add_selection,
      remove_selection,
      clear_selections,
      select_field,
      handle_textinput_on_enter,
      handle_field_textinput_on_enter,
      filter_field_options,
    }
  }
}
</script>
