<template>
  <q-item dense>
    <q-item-section>
      <q-field dense
               :prefix="textinput_prefix"
               borderless>
        <template v-slot:prepend>
          <q-icon name="filter_alt"/>
          <template v-if="selections.length">
            <selection size="sm"
                       @remove="remove_selection"
                       :modelValue="selections.at(-1)"
            >
            </selection>
          </template>
        </template>
        <template v-slot:control>
          <input class="table-filter-text-input full-width"
                 placeholder="Filters"
                 v-model="textinput_value"
                 @keydown.enter="handle_textinput_on_enter"
                 ref="textinput"/>
          <q-menu no-focus ref="dropdown" @before-hide="field = null">
            <q-card style="min-width: 300px">
              <template v-if="field">
                <q-item dense>
                  <q-item-section>
                    <q-item-label class="text-weight-bold">
                      {{ field.label }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator/>
                <template v-if="field.type === 'textinput'">
                  <q-item dense>
                    <q-item-section>
                      <q-item-label>
                        <q-input
                          autofocus
                          placeholder="Type and hit enter to apply filters"
                          :prefix="`${field.label}: `"
                          v-model="field_textinput_value"
                          @keydown.enter="handle_field_textinput_on_enter"
                          borderless dense/>
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </template>
                <template v-else-if="field.type === 'select'">
                  <template v-if="field.with_filters">
                    <q-item dense>
                      <q-item-section>
                        <q-item-label>
                          <q-input v-model="field_option_search"
                                   autofocus
                                   :disable="fetching_field_options"
                                   @change="filter_field_options"
                                   placeholder="Type to filter options"
                                   borderless dense/>
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-separator/>
                  </template>
                  <template v-if="fetching_field_options">
                    <q-item dense>
                      <q-item-section>
                        <q-item-label class="text-center">
                          <q-spinner size="sm"/>
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </template>
                  <template v-else>
                    <template v-if="field_options.length">
                      <q-item v-for="(opt, i) in field_options"
                              @click="add_selection(opt)"
                              clickable
                              :key="i" dense>
                        <q-item-section>
                          <q-item-label>{{ opt.label }}</q-item-label>
                        </q-item-section>
                      </q-item>
                    </template>
                    <template v-else>
                      <q-item dense>
                        <q-item-section>
                          <q-item-label caption>
                            No available options
                          </q-item-label>
                        </q-item-section>
                      </q-item>
                    </template>
                  </template>
                </template>
                <template v-else-if="field.type === 'date'">
                  <q-item dense>
                    <q-item-section>
                      <q-item-label>
                        <q-input :placeholder="date_format"
                                 autofocus
                                 :prefix="`${field.label}: `"
                                 v-model="field_textinput_value"
                                 @keydown.enter="handle_field_textinput_on_enter"
                                 borderless dense/>
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </template>
              </template>
              <template v-else>
                <q-item dense>
                  <q-item-section>
                    <q-item-label class="text-weight-bold">
                      Filters
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator/>
                <q-item v-for="(f, i) in fields"
                        dense clickable @click="select_field(f)"
                        :key="i">
                  <q-item-section>
                    <q-item-label>{{ f.label }}</q-item-label>
                  </q-item-section>
                </q-item>
              </template>
            </q-card>
          </q-menu>
          <q-menu no-parent-event ref="error_popup" no-focus auto-close>
            <q-card style="min-width: 300px">
              <q-item dense>
                <q-item-section side>
                  <q-icon name="error" color="negative"/>
                </q-item-section>
                <q-item-section>
                  <q-item-label caption>{{ error_message }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-card>
          </q-menu>
        </template>
        <template v-slot:append>
          <q-btn round flat size="sm"
                 v-if="selections.length"
                 @click="clear_selections"
                 icon="clear">
          </q-btn>
          <q-btn round flat size="sm"
                 icon="help">
            <q-popup-proxy>
              <q-item>
                <q-item-section>
                  <q-item-label caption>
                    Create a refined filter query by using a property to
                    narrow
                    your results. Example:
                  </q-item-label>
                  <q-item-label caption>
                    <q-chip size="sm" removable>Label: value</q-chip>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-popup-proxy>
          </q-btn>
        </template>
      </q-field>
    </q-item-section>
  </q-item>
</template>
<style scoped>
.table-filter-text-input {
  outline: none;
  border: none;
}
</style>
<script>
  import TableFilter from 'components/common/table-filter'
  import Selection from 'src/components/common/table-filter/selection/'
  
  export default {
    name: 'FilterOneSelection',
    extends: TableFilter,
    components: {Selection},
    props: {
      fields: {type: Array, required: true},
      modelValue: {type: Object, default: () => ({})},
      placeholder: {type: String, default: 'Filter data'}
    },
    setup: TableFilter.setup,
    methods: {
      remove_selection() {
        this.selections = []
      }
    }
  }
</script>