<template>
  <q-page-sticky position="bottom-right" v-if="showed">
    <q-card style="width: 350px; overflow: hidden">
      <q-item class="bg-primary text-white">
        <q-item-section>
          <q-item-label>Uploading Images</q-item-label>
          <q-item-label class="text-caption">{{ selected_files.length }}
            file(s)
          </q-item-label>
        </q-item-section>
        <q-item-section avatar>
          <div class="row items-center justify-end">
            <q-btn round dense :icon="minimize ? 'expand_less' : 'expand_more'"
                   flat
                   @click.stop="minimize = !minimize"/>
            <q-btn round dense icon="close" flat @click="close"/>
          </div>
        </q-item-section>
      </q-item>
      <q-list v-show="!minimize" separator
              style="max-height: 400px; overflow-y: auto">
        <q-item v-for="(sf, index) in selected_files" :key="index">
          <q-item-section>
            <q-item-label lines="1">{{ sf.file.name }}</q-item-label>
            <q-item-label lines="1"
                          v-if="sf.status === 'error'"
                          class="text-caption text-red">{{ sf.error }}
            </q-item-label>
          </q-item-section>
          <q-item-section avatar>
            <q-item-label>
              <q-spinner-ios v-if="sf.status === 'uploading'" size="xs"/>
              <q-icon name="check_circle"
                      color="green" size="sm"
                      v-else-if="sf.status === 'uploaded'"/>
              <q-icon name="error" color="red" size="sm" v-else/>
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-card>
  </q-page-sticky>
</template>
<script>
import {ref} from 'vue'
import {use_api} from 'src/composibles/api'

export default {
  props: {
    scope_id: {type: String},
    scope_type: {type: String, required: true},
  },
  setup (props, context) {
    const api = use_api()
    const selected_files = ref([])
    const showed = ref(false)
    const minimize = ref(false)

    const open = (files) => {
      Array.from(Array(files.length).keys()).forEach(index => {
        selected_files.value.unshift({
          file: files[index],
          status: 'waiting'
        })
      })

      start_upload()
      showed.value = true
    }
    const close = () => {
      selected_files.value = selected_files.value.filter(sf => sf.status === 'uploading')
      showed.value = false
    }
    const start_upload = () => {
      if (!selected_files.value.length) return
      const handle_upload = async s_file => {
        let form = new FormData()
        form.append('file', s_file.file)
        if (props.scope_id) {
          form.append('scope_id', props.scope_id)
        }
        form.append('scope_type', props.scope_type)
        form.append('type', 'image')
        const response = await api.upload_file(form)
        if (response.status === 200) {
          s_file.status = 'uploaded'
          s_file.data = response.data
          context.emit('uploaded', response.data)
        } else {
          s_file.status = 'error'
          s_file.error = response.data.error
          s_file.message = response.data.message
        }
      }
      selected_files.value.filter(sf => sf.status === 'waiting').forEach(sf => {
        sf.status = 'uploading'
        handle_upload(sf)
      })
    }

    return {
      selected_files,
      showed,
      minimize,
      open,
      close,
      start_upload
    }
  },
}
</script>
