<template>
  <q-field :label="label" stack-label
           no-error-icon class="q-ma-none"
           hide-bottom-space
           :outlined="outlined"
           :borderless="borderless"
           :filled="filled"
           :rules="rules"
           v-model="modelValue"
           type="textarea">
    <template v-slot:control>
      <div class="q-mt-xs self-center full-width">
        <textarea ref="textarea"
                  @focus="sync_value"
                  :placeholder="placeholder"></textarea>
      </div>
    </template>
  </q-field>
</template>
<script>
import {ref, nextTick, onMounted, onBeforeUnmount, watch} from 'vue'

// lib
import CodeMirror from 'codemirror'

// base style
import 'codemirror/lib/codemirror.css'

// theme css
import 'codemirror/theme/base16-dark.css'

// language
import 'codemirror/mode/vue/vue.js'

// active-line.js
import 'codemirror/addon/selection/active-line.js'

// styleSelectedText
import 'codemirror/addon/selection/mark-selection.js'
import 'codemirror/addon/search/searchcursor.js'

// highlightSelectionMatches
import 'codemirror/addon/scroll/annotatescrollbar.js'
import 'codemirror/addon/search/matchesonscrollbar.js'
import 'codemirror/addon/search/searchcursor.js'
import 'codemirror/addon/search/match-highlighter.js'

// keyMap
import 'codemirror/mode/clike/clike.js'
import 'codemirror/addon/edit/matchbrackets.js'
import 'codemirror/addon/comment/comment.js'
import 'codemirror/addon/dialog/dialog.js'
import 'codemirror/addon/dialog/dialog.css'
import 'codemirror/addon/search/searchcursor.js'
import 'codemirror/addon/search/search.js'
import 'codemirror/keymap/sublime.js'

// foldGutter
import 'codemirror/addon/fold/foldgutter.css'
import 'codemirror/addon/fold/brace-fold.js'
import 'codemirror/addon/fold/comment-fold.js'
import 'codemirror/addon/fold/foldcode.js'
import 'codemirror/addon/fold/foldgutter.js'
import 'codemirror/addon/fold/indent-fold.js'
import 'codemirror/addon/fold/markdown-fold.js'
import 'codemirror/addon/fold/xml-fold.js'


const ALL_EVENTS = [
  'scroll',
  'changes',
  'beforeChange',
  'cursorActivity',
  'keyHandled',
  'inputRead',
  'electricInput',
  'beforeSelectionChange',
  'viewportChange',
  'swapDoc',
  'gutterClick',
  'gutterContextMenu',
  'focus',
  'blur',
  'refresh',
  'optionChange',
  'scrollCursorIntoView',
  'update'
]

// export
export default {
  name: 'CodeEditor',
  props: {
    label: {type: String, default: 'Code Editor'},
    height: {type: Number, default: 400},
    modelValue: String,
    marker: Function,
    unseen_lines: Array,
    rules: {type: Array, default: () => ([])},
    readonly: {type: Boolean, default: false},
    filled: {type: Boolean, default: false},
    borderless: {type: Boolean, default: false},
    outlined: {type: Boolean, default: false},
    placeholder: {
      type: String,
      default: ''
    },
    options: {
      type: Object,
      default: () => ({})
    },
    default_options: {
      type: Object,
      default: () => ({
        tabSize: 4,
        styleActiveLine: true,
        lineNumbers: true,
        line: true,
        foldGutter: true,
        styleSelectedText: true,
        mode: 'text/html',
        keyMap: 'sublime',
        matchBrackets: true,
        showCursorWhenSelecting: true,
        theme: 'default',
        extraKeys: {'Ctrl': 'autocomplete'},
        hintOptions: {
          completeSingle: true
        }
      })
    },
  },
  setup (props, context) {
    let cm_instance = null
    const textarea = ref(null)

    const sync_value = (value) => {
      if (!value) value = props.modelValue || ''
      cm_instance.setValue(value)
    }

    const get_options = () => {
      let cm_options = Object.assign(
        {},
        props.default_options,
        props.options
      )
      if (props.readonly) {
        cm_options.readOnly = 'nocursor'
      }
      return cm_options
    }

    const set_options = () => {
      let options = get_options()
      Object.keys(options).forEach(k => {
        cm_instance.setOption(k, options[k])
      })
    }

    const set_size = () => {
      cm_instance.setSize(null, props.height)
    }

    const refresh = () => {
      nextTick(() => {
        cm_instance.refresh()
      })
    }

    const remove_cm = () => {
      // garbage cleanup
      const element = cm_instance.doc.cm.getWrapperElement()
      element && element.remove && element.remove()
    }

    const handle_value_change = () => {
      const scrollInfo = cm_instance.getScrollInfo()
      cm_instance.scrollTo(scrollInfo.left, scrollInfo.top)

      let value = cm_instance.getValue()
      context.emit('update:modelValue', value)

      unseen_line_markers()
    }

    const unseen_line_markers = () => {
      if (props.unseen_lines && props.marker) {
        props.unseen_lines.forEach(line => {
          const info = cm_instance.lineInfo(line)
          cm_instance.setGutterMarker(line,
            'breakpoints',
            info.gutterMarkers ? null : props.marker())
        })
      }
    }

    const initialize_editor = () => {
      set_options()
      set_size()
      sync_value()

      cm_instance.on('change', cm => {
        handle_value_change(cm)
      })

      const tmp_events = {}

      ALL_EVENTS
        .filter(e => (!tmp_events[e] && (tmp_events[e] = true)))
        .forEach(event => {
          cm_instance.on(event, (...args) => {
            context.emit(event, ...args)
            const lowerCaseEvent = event.replace(/([A-Z])/g, '-$1').toLowerCase()
            if (lowerCaseEvent !== event) {
              context.emit(lowerCaseEvent, ...args)
            }
          })
        })

      context.emit('ready', cm_instance)
      unseen_line_markers()

      // prevents funky dynamic rendering
      refresh()
    }

    onMounted(() => {
      cm_instance = CodeMirror.fromTextArea(textarea.value)
      initialize_editor()
    })

    onBeforeUnmount(remove_cm)

    watch(
      props.options,
      () => {
        set_options()
      }
    )

    return {
      textarea,
      cm_instance,
      sync_value
    }
  }
}
</script>
