<template>
  <template v-if="payment_id">
    <payment :payment_id="payment_id"/>
  </template>
  <template v-else>
    <q-card-actions align="center">
      <q-item-label caption>No payment found</q-item-label>
    </q-card-actions>
  </template>
</template>
<script>
import Payment from 'components/payment/detail'

export default {
  props: {
    payment_id: {type: String}
  },
  components: {
    Payment
  }
}
</script>
