<template>
  <q-table
    :columns="columns" flat
    :rows="records"
    v-model:pagination="pagination"
    @request="handle_pagination_changed"
    :loading="processes.listing.in_progress"
    binary-state-sort hide-pagination
    row-key="id"
    dense>
    <template v-slot:body="props">
      <q-tr :props="props">
        <q-td :props="props" v-for="field in fields" :key="field">
          <!-- <template v-if="field.data_type === 'datetime'">
            <datetime :model-value="props.row.data[field.key]"/>
          </template>
          <template v-else-if="field.data_type === 'date'">
            <date :model-value="props.row.data[field.key]"/>
          </template> -->
          <span>{{ props.row[field] }}</span>
        </q-td>
        <q-td :props="props" key="actions">
          <q-btn dense round
                 @click="$refs.update_dialog.toggle(props.row)"
                 size="sm" color="primary"
                 flat icon="edit"/>
        </q-td>
      </q-tr>
    </template>
  </q-table>
  <update-dialog ref="update_dialog"
                 @updated="handle_updated"
                 :fields="fields"/>
</template>
<script>
import {ref, reactive, onBeforeMount, computed} from 'vue'

import {use_api} from 'src/composibles/api'

import UpdateDialog from '../dialogs/update'
import Datetime from 'components/common/datetime'
import Date from 'components/common/date'

export default {
  components: {
    UpdateDialog,
    // Datetime,
    // Date
  },
  props: {
    booking_product: {type: Object, required: true},
  },
  setup (props) {
    const api = use_api()

    const records = ref([])
    const fields = ref([])

    const columns = computed(() => {
      let result = []

      fields.value.forEach(field => {
        result.push({
          name: field,
          field: field,
          label: field,
          align: 'left'
        })
      })

      result.push({
        name: 'actions',
        field: 'actions',
        label: '',
        align: 'right'
      })
      return result
    })

    const pagination = ref({
      sortBy: 'name',
      descending: false,
      page: 1,
      rowsPerPage: 25,
      rowsNumber: 0
    })

    const processes = reactive({
      listing: {
        in_progress: false
      }
    })

    const list_records = async () => {
      let process = processes.listing
      process.in_progress = true
      records.value = props.booking_product
      fields.value = Object.keys(props.booking_product[0])
      process.in_progress = false
    }

    onBeforeMount(list_records)

    return {
      records,
      columns,
      fields,
      pagination,
      processes,
      insert_record: (record) => {
        records.value.unshift(record)
        pagination.value.rowsNumber++
      },
      handle_updated: (record) => {
        const index = records.value.findIndex(v => v.id === record.id)
        if (index >= 0) Object.assign(records.value[index], record)
      },
      handle_pagination_changed: (props) => {
        pagination.value = props.pagination
        list_records()
      }
    }
  }
}
</script>
