<template>
  <q-select :model-value="modelValue"
            :rules="rules"
            hide-bottom-space
            option-value="id"
            option-label="name"
            use-input fill-input hide-selected
            input-debounce="500"
            @update:model-value="handle_value_changed"
            v-bind="select_bind"
            @filter="fetch_options"
            :loading="fetching"
            :options="options"
            :label="label">
    <template v-slot:option="scope">
      <q-item v-bind="scope.itemProps">
        <q-item-section>
          <q-item-label>{{ scope.opt.name }}</q-item-label>
          <q-item-label caption>{{ scope.opt.type }}</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-item-label>{{ scope.opt.env }}</q-item-label>
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>
<script>
import {computed, ref} from 'vue'

import {use_api} from 'src/composibles/api'

export default {
  props: {
    label: {type: String},
    rules: {type: Array},
    meta: {type: Object, default: () => ({})},
    modelValue: {type: Object}
  },
  setup (props, context) {
    const fetching = ref(false)
    const options = ref([])
    const api = use_api()

    const fetch_options = async (search, update, abort) => {
      fetching.value = true

      const response = await api.list_suppliers({
        search_text: search,
      })
      if (response.status === 200) {
        options.value = response.data.result
      }
      update()
      fetching.value = false
    }

    const handle_value_changed = (val) => {
      context.emit('update:modelValue', val)
    }

    const select_bind = computed(() => {
      let result = {
        dense: true,
        outlined: false
      }
      const non_logic_attrs = [
        'dense',
        'outlined',
      ]

      non_logic_attrs.forEach(k => {
        const v = props.meta[k]
        if (v !== undefined) result[k] = v
      })

      return result
    })

    return {
      options,
      fetching,
      select_bind,
      fetch_options,
      handle_value_changed
    }
  }
}
</script>
